<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

<!-- Setup markdown formatting -->
<link rel="stylesheet" href="/assets/css/syntax.scss">

<!-- Buttons to appear top of every page
      HOME - U+2302 - ⌂
      ABOUT - U+2753 - ❓
      ANSWERS - heavy check mark - U+2714 - ✓
      PROGRAMS - Unicode Character “💻” (U+1F4BB)
      EMAIL - Unicode Character “📧” (U+1F4E7)
-->
<!-- Move to _layouts/default.html
<div class="container">
  <a href="https://pippim.github.io/" style="display: inline" class="button">⌂ Home</a>
  <a href="about.html" style="display: inline" class="button">❓ About</a>
  <a href="answers.html" style="display: inline" class="button">✅ Answers</a>
  <a href="programs.html" style="display: inline" class="button">💻 Programs</a>
  <a href="mailto:pippim.com@gmail.com" style="display: inline" class="button">📧 Email</a>
</div>
-->

<!-- You can set your favicon here -->
<!-- link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}" -->

<!-- end custom head snippets -->
