<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

<!-- Setup markdown formatting -->
<link rel="stylesheet" href="/assets/css/syntax.scss">

<!-- You can set your favicon here -->
<!-- link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}" -->

<!-- The Cookie Machine common code - includes color schemes -->
{% include tcm-common-code.js %}

<!-- end custom head snippets -->
