<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

<!-- Buttons to appear top of every page -->
<span class="container">
  <a href="https://pippim/github.io/" style="display: inline" class="button">Home</a>
  <a href="about.html" style="display: inline" class="button">About pippim</a>
  <a href="answers.html" style="display: inline" class="button">Answers</a>
  <a href="programs.html" style="display: inline" class="button">Programs</a>
</span>

<!-- You can set your favicon here -->
<!-- link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}" -->

<!-- end custom head snippets -->
