<!-- In _layouts/program.html, default.html, post.html, etc. USE:
    jump_button.html between <header> and <main>, position: sticky;
    jump_modal.html inside <main>, position: aboslute; then top: 99px;
-->

<button id="jump-button" class="page-header-button"
    title="Quick Jump Menu"
    >&#x2630;
</button>

<div id="jump-modal" class="jump-modal" style="display: none">
    <div id="jump-modal-content">
        <span id="jump-modal-close" class="icon_back"></span>
        <p id="jump-modal-text">Jump Button - Work In Progress!</p>
    </div>
</div>
