<mark>149</mark>[Possible missing firmware ∕lib∕firmware∕i915]({% post_url 2016-10-03-Possible-missing-firmware-∕lib∕firmware∕i915 %})<br />
<mark>113</mark>[How do I get the CPU temperature?]({% post_url 2016-11-26-How-do-I-get-the-CPU-temperature? %})<br />
<mark>100</mark>[What's the easiest way to run GUI apps on Windows Subsystem for Linux as of 2018?]({% post_url 2018-01-07-What's-the-easiest-way-to-run-GUI-apps-on-Windows-Subsystem-for-Linux-as-of-2018? %})<br />
<mark>88</mark>[Where are sudo's insults stored?]({% post_url 2016-10-15-Where-are-sudo's-insults-stored? %})<br />
<mark>81</mark>[Systemd logs (`journalctl`) are too large and slow]({% post_url 2018-03-08-Systemd-logs-(`journalctl`)-are-too-large-and-slow %})<br />
<mark>64</mark>[What does NetworkManager-wait-online.service do?]({% post_url 2018-03-23-What-does-NetworkManager-wait-online.service-do? %})<br />
<mark>63</mark>[Disabling Lock Screen 18.04]({% post_url 2018-08-12-Disabling-Lock-Screen-18.04 %})<br />
<mark>63</mark>[Disable password request from suspend - 18.04]({% post_url 2018-04-29-Disable-password-request-from-suspend---18.04 %})<br />
<mark>60</mark>[How can you monitor total internet data usage across reboots?]({% post_url 2016-11-07-How-can-you-monitor-total-internet-data-usage-across-reboots? %})<br />
<mark>60</mark>[How can I send mobile text message from terminal?]({% post_url 2018-12-23-How-can-I-send-mobile-text-message-from-terminal? %})<br />
