<details><summary>TAGS FROM: . TO: 9 (336)</summary><p>
TAGS: .desktop TO: 12.04 (7)<br>
TAGS: 14.04 TO: 14.04 (14)<br>
TAGS: 15.04 TO: 15.10 (3)<br>
TAGS: 16.04 2016-08-13 TO: 16.04 2016-09-23 (15)<br>
TAGS: 16.04 2016-09-26 TO: 16.04 2016-11-25 (15)<br>
TAGS: 16.04 2016-11-26 TO: 16.04 2017-07-17 (15)<br>
TAGS: 16.04 2017-07-25 TO: 16.04 2018-02-07 (15)<br>
TAGS: 16.04 2018-02-13 TO: 16.04 2018-04-13 (15)<br>
TAGS: 16.04 2018-04-16 TO: 16.04 2018-07-22 (15)<br>
TAGS: 16.04 2018-07-28 TO: 16.04 2019-07-31 (15)<br>
TAGS: 16.04 2019-08-07 TO: 16.04 2021-01-20 (8)<br>
TAGS: 16.10 TO: 17.04 (11)<br>
TAGS: 17.10 TO: 17.10 (17)<br>
TAGS: 18.04 2018-03-01 TO: 18.04 2018-05-05 (15)<br>
TAGS: 18.04 2018-05-07 TO: 18.04 2018-06-06 (15)<br>
TAGS: 18.04 2018-06-13 TO: 18.04 2018-08-12 (15)<br>
TAGS: 18.04 2018-08-12 TO: 18.04 2018-10-11 (15)<br>
TAGS: 18.04 2018-10-13 TO: 18.04 2018-12-12 (15)<br>
TAGS: 18.04 2018-12-16 TO: 18.04 2019-06-25 (15)<br>
TAGS: 18.04 2019-07-01 TO: 18.04 2019-07-21 (15)<br>
TAGS: 18.04 2019-07-21 TO: 18.04 2019-10-30 (15)<br>
TAGS: 18.04 2019-11-11 TO: 18.04 2021-05-08 (11)<br>
TAGS: 18.10 TO: 19.04 (12)<br>
TAGS: 19.10 TO: 19.10 (10)<br>
TAGS: 20.04 TO: 20.04 (12)<br>
TAGS: 32-bit TO: 64-bit (6)<br>
</p></details>

<details><summary>TAGS WITH: a (100)</summary><p>
TAGS: accepted-answer TO: alsa (15)<br>
TAGS: alsa TO: answered-questions (19)<br>
TAGS: answers TO: april-fools (8)<br>
TAGS: apt 2016-08-29 TO: apt 2018-08-14 (15)<br>
TAGS: apt 2018-08-23 TO: apt 2021-11-08 (15)<br>
TAGS: architecture TO: auto-completion (17)<br>
TAGS: automation TO: awk (11)<br>
</p></details>

<details><summary>TAGS WITH: b (293)</summary><p>
TAGS: background-process TO: backlight (10)<br>
TAGS: backup TO: backup (14)<br>
TAGS: badblocks TO: bandwidth (6)<br>
TAGS: bash 2016-09-11 TO: bash 2017-02-06 (15)<br>
TAGS: bash 2017-02-09 TO: bash 2017-04-08 (15)<br>
TAGS: bash 2017-04-26 TO: bash 2017-11-23 (15)<br>
TAGS: bash 2017-12-02 TO: bash 2018-04-27 (15)<br>
TAGS: bash 2018-05-08 TO: bash 2019-04-19 (15)<br>
TAGS: bash 2019-04-26 TO: bash 2019-08-27 (15)<br>
TAGS: bash 2019-08-29 TO: bash 2019-12-27 (15)<br>
TAGS: bash 2020-02-20 TO: bash 2021-05-08 (8)<br>
TAGS: bash-history TO: batch (13)<br>
TAGS: battery TO: battery (14)<br>
TAGS: beautifulsoup TO: bluetooth (19)<br>
TAGS: boost TO: boost (1)<br>
TAGS: boot 2016-08-22 TO: boot 2017-02-12 (15)<br>
TAGS: boot 2017-02-19 TO: boot 2018-03-26 (15)<br>
TAGS: boot 2018-04-15 TO: boot 2018-12-16 (15)<br>
TAGS: boot 2018-12-25 TO: boot 2019-10-24 (15)<br>
TAGS: boot 2019-10-28 TO: boot 2021-02-01 (10)<br>
TAGS: boot-partition TO: bounty (5)<br>
TAGS: brightness TO: broadcom (18)<br>
TAGS: brother TO: button (10)<br>
</p></details>

<details><summary>TAGS WITH: c (361)</summary><p>
TAGS: c TO: canonical-livepatch (19)<br>
TAGS: capslock TO: cloud (19)<br>
TAGS: color-management TO: colors (5)<br>
TAGS: command-line 2016-09-08 TO: command-line 2016-12-17 (15)<br>
TAGS: command-line 2016-12-28 TO: command-line 2017-03-25 (15)<br>
TAGS: command-line 2017-03-26 TO: command-line 2018-02-20 (15)<br>
TAGS: command-line 2018-02-22 TO: command-line 2018-03-26 (15)<br>
TAGS: command-line 2018-03-29 TO: command-line 2018-05-08 (15)<br>
TAGS: command-line 2018-05-08 TO: command-line 2018-08-18 (15)<br>
TAGS: command-line 2018-09-09 TO: command-line 2019-04-19 (15)<br>
TAGS: command-line 2019-04-22 TO: command-line 2019-08-13 (15)<br>
TAGS: command-line 2019-08-13 TO: command-line 2019-11-16 (15)<br>
TAGS: command-line 2019-11-22 TO: command-line 2021-03-20 (14)<br>
TAGS: comments TO: configure (18)<br>
TAGS: conky 2016-09-14 TO: conky 2017-02-05 (15)<br>
TAGS: conky 2017-03-19 TO: conky 2018-03-31 (15)<br>
TAGS: conky 2018-04-01 TO: conky 2020-01-11 (18)<br>
TAGS: connection TO: cp (18)<br>
TAGS: cpu 2016-10-15 TO: cpu 2018-08-10 (15)<br>
TAGS: cpu 2018-08-11 TO: cpu 2019-11-21 (16)<br>
TAGS: cpu-frequency TO: crash (16)<br>
TAGS: cron 2016-10-02 TO: cron 2018-12-30 (15)<br>
TAGS: cron 2019-01-10 TO: cron 2021-08-11 (7)<br>
TAGS: csh TO: cut-command (16)<br>
</p></details>

<details><summary>TAGS WITH: d (267)</summary><p>
TAGS: data-corruption TO: debugging (19)<br>
TAGS: default TO: dell (15)<br>
TAGS: dell TO: desktop-environments (15)<br>
TAGS: desktop-environments TO: diff (16)<br>
TAGS: directory TO: directory-structure (7)<br>
TAGS: discussion 2016-08-25 TO: discussion 2017-07-30 (15)<br>
TAGS: discussion 2017-08-02 TO: discussion 2018-06-24 (15)<br>
TAGS: discussion 2018-09-05 TO: discussion 2019-12-13 (12)<br>
TAGS: disk TO: disk-usage (12)<br>
TAGS: display TO: display (17)<br>
TAGS: display-resolution TO: display-resolution (12)<br>
TAGS: displayport TO: downloads (17)<br>
TAGS: dpkg TO: drive (10)<br>
TAGS: drivers 2016-09-01 TO: drivers 2018-02-07 (15)<br>
TAGS: drivers 2018-02-25 TO: drivers 2018-12-12 (15)<br>
TAGS: drivers 2018-12-17 TO: drivers 2021-01-27 (10)<br>
TAGS: dropbox TO: dropbox (1)<br>
TAGS: dual-boot 2016-09-09 TO: dual-boot 2018-01-27 (15)<br>
TAGS: dual-boot 2018-02-04 TO: dual-boot 2019-04-08 (15)<br>
TAGS: dual-boot 2019-05-06 TO: dual-boot 2020-05-28 (9)<br>
TAGS: duplicate TO: dvd (5)<br>
</p></details>

<details><summary>TAGS FROM: e TO: f (140)</summary><p>
TAGS: ecryptfs TO: encryption (16)<br>
TAGS: environment-variables TO: events (19)<br>
TAGS: evince TO: eyesome (15)<br>
TAGS: eyesome TO: feature-request (19)<br>
TAGS: file-format TO: filemanager (9)<br>
TAGS: files TO: filesystem (18)<br>
TAGS: find TO: focus (16)<br>
TAGS: fonts TO: frequency (19)<br>
TAGS: fsck TO: functions (9)<br>
</p></details>

<details><summary>TAGS WITH: g (283)</summary><p>
TAGS: games TO: geany (7)<br>
TAGS: gedit TO: gedit (11)<br>
TAGS: generator TO: gmail-imap (17)<br>
TAGS: gnome 2016-08-13 TO: gnome 2018-05-13 (15)<br>
TAGS: gnome 2018-06-03 TO: gnome 2019-10-11 (15)<br>
TAGS: gnome 2019-10-14 TO: gnome 2020-12-23 (7)<br>
TAGS: gnome-control-center TO: gnome-shell (17)<br>
TAGS: gnome-terminal TO: gnome-terminal (10)<br>
TAGS: gnome-tweaks TO: governor (16)<br>
TAGS: gparted TO: gpu-drivers (13)<br>
TAGS: graphics TO: graphics (16)<br>
TAGS: grep TO: grive (6)<br>
TAGS: grub 2016-08-21 TO: grub 2017-02-19 (15)<br>
TAGS: grub 2017-02-20 TO: grub 2018-05-12 (15)<br>
TAGS: grub 2018-05-14 TO: grub 2021-07-04 (19)<br>
TAGS: grub-efi TO: grub-efi (1)<br>
TAGS: grub2 2016-09-03 TO: grub2 2017-03-11 (15)<br>
TAGS: grub2 2017-03-11 TO: grub2 2018-04-27 (15)<br>
TAGS: grub2 2018-05-17 TO: grub2 2019-06-15 (15)<br>
TAGS: grub2 2019-07-01 TO: grub2 2019-12-13 (11)<br>
TAGS: grubrescue TO: guest-additions (9)<br>
TAGS: gui TO: gvfs (18)<br>
</p></details>

<details><summary>TAGS FROM: h TO: k (276)</summary><p>
TAGS: hard-drive TO: hard-drive (17)<br>
TAGS: hardware TO: hardware (14)<br>
TAGS: hardware-programming TO: hddtemp (3)<br>
TAGS: hdmi TO: hdmi (18)<br>
TAGS: hdpi TO: history (17)<br>
TAGS: home-directory TO: i915 (17)<br>
TAGS: iconic TO: imagemagick (17)<br>
TAGS: indicator TO: integrated (19)<br>
TAGS: intel TO: intel (11)<br>
TAGS: intel-cpu TO: interface (16)<br>
TAGS: internet TO: java (15)<br>
TAGS: java TO: kde5 (16)<br>
TAGS: kernel 2016-09-20 TO: kernel 2017-02-04 (15)<br>
TAGS: kernel 2017-02-20 TO: kernel 2018-03-01 (15)<br>
TAGS: kernel 2018-03-31 TO: kernel 2019-02-16 (15)<br>
TAGS: kernel 2019-03-12 TO: kernel 2021-11-08 (16)<br>
TAGS: key-bindings TO: key-bindings (1)<br>
TAGS: keyboard TO: keyboard (18)<br>
TAGS: keyboard-backlight TO: kvm-switch (16)<br>
</p></details>

<details><summary>TAGS WITH: l (139)</summary><p>
TAGS: lamp TO: lan (3)<br>
TAGS: laptop TO: latex (17)<br>
TAGS: launcher TO: libreoffice-basic (19)<br>
TAGS: lid TO: list (19)<br>
TAGS: live-cd TO: locate (14)<br>
TAGS: lock-screen TO: lockup (17)<br>
TAGS: log TO: logging (7)<br>
TAGS: login TO: logout (19)<br>
TAGS: logs TO: lts (17)<br>
TAGS: lubuntu TO: luks (7)<br>
</p></details>

<details><summary>TAGS FROM: m TO: o (269)</summary><p>
TAGS: maas TO: matlab (17)<br>
TAGS: mbr TO: moderators (18)<br>
TAGS: monitor TO: monitoring (15)<br>
TAGS: mount TO: mount (13)<br>
TAGS: mountpoint TO: multi-core (18)<br>
TAGS: multi-timer TO: multimedia (5)<br>
TAGS: multiple-monitors 2016-11-12 TO: multiple-monitors 2019-10-15 (15)<br>
TAGS: multiple-monitors 2019-12-05 TO: multiple-monitors 2021-09-23 (6)<br>
TAGS: multithreading TO: mysql (7)<br>
TAGS: nautilus 2016-10-05 TO: nautilus 2018-03-26 (15)<br>
TAGS: nautilus 2018-05-16 TO: nautilus 2020-06-01 (11)<br>
TAGS: ndiswrapper TO: network-manager (7)<br>
TAGS: networking 2016-08-11 TO: networking 2018-02-07 (15)<br>
TAGS: networking 2018-03-04 TO: networking 2019-07-25 (15)<br>
TAGS: networking 2019-09-02 TO: networking 2021-05-15 (7)<br>
TAGS: new-users TO: nouveau (19)<br>
TAGS: npm TO: nut (9)<br>
TAGS: nvidia 2016-09-17 TO: nvidia 2018-06-12 (15)<br>
TAGS: nvidia 2018-07-16 TO: nvidia 2021-07-04 (16)<br>
TAGS: nvidia-geforce TO: optical (19)<br>
TAGS: optimization TO: overheating (7)<br>
</p></details>

<details><summary>TAGS FROM: p TO: r (303)</summary><p>
TAGS: package-management TO: package-management (10)<br>
TAGS: parallel-processing TO: parental-controls (2)<br>
TAGS: partitioning 2016-09-01 TO: partitioning 2019-06-30 (15)<br>
TAGS: partitioning 2019-07-01 TO: partitioning 2020-06-01 (8)<br>
TAGS: password TO: password (13)<br>
TAGS: password-management TO: pep8 (11)<br>
TAGS: performance TO: performance (18)<br>
TAGS: permissions TO: permissions (13)<br>
TAGS: persistence TO: png (19)<br>
TAGS: policykit TO: postseason (5)<br>
TAGS: power-management 2016-08-21 TO: power-management 2018-04-13 (15)<br>
TAGS: power-management 2018-05-20 TO: power-management 2019-09-23 (15)<br>
TAGS: power-management 2019-10-26 TO: power-management 2021-09-23 (6)<br>
TAGS: powertop TO: proc (15)<br>
TAGS: process TO: public-health (14)<br>
TAGS: pulseaudio 2016-09-26 TO: pulseaudio 2019-10-05 (15)<br>
TAGS: pulseaudio 2019-10-22 TO: pulseaudio 2021-05-15 (6)<br>
TAGS: purge TO: pygi (2)<br>
TAGS: python 2017-02-13 TO: python 2020-01-30 (15)<br>
TAGS: python 2020-02-19 TO: python 2021-07-29 (18)<br>
TAGS: python-3.x TO: ransomware (19)<br>
TAGS: raspberrypi TO: release-management (19)<br>
TAGS: remote TO: rm (18)<br>
TAGS: root TO: russian (12)<br>
</p></details>

<details><summary>TAGS WITH: s (446)</summary><p>
TAGS: s3-object-tagging TO: scanner (19)<br>
TAGS: schedule TO: screenshot (18)<br>
TAGS: scripts 2016-09-19 TO: scripts 2017-02-13 (15)<br>
TAGS: scripts 2017-02-27 TO: scripts 2018-12-15 (15)<br>
TAGS: scripts 2019-03-18 TO: scripts 2019-11-13 (15)<br>
TAGS: scripts 2019-11-16 TO: scripts 2020-12-10 (6)<br>
TAGS: scrollbar TO: search (10)<br>
TAGS: security TO: serial-port (19)<br>
TAGS: server TO: session (19)<br>
TAGS: settings TO: shell (11)<br>
TAGS: shortcut-keys TO: shortcut-keys (13)<br>
TAGS: shortcuts TO: show-desktop (4)<br>
TAGS: shutdown TO: shutdown (14)<br>
TAGS: signature TO: software-center (16)<br>
TAGS: software-installation TO: software-installation (9)<br>
TAGS: software-recommendation TO: sony (19)<br>
TAGS: sound 2016-08-09 TO: sound 2018-06-10 (15)<br>
TAGS: sound 2018-06-10 TO: sound 2021-05-15 (19)<br>
TAGS: soundcard TO: sqlite3 (11)<br>
TAGS: ssd TO: ssd (19)<br>
TAGS: ssh TO: stress-testing (19)<br>
TAGS: string TO: subtitle (3)<br>
TAGS: sudo TO: sudo (15)<br>
TAGS: support TO: support (7)<br>
TAGS: suspend 2016-08-21 TO: suspend 2016-11-16 (15)<br>
TAGS: suspend 2016-11-21 TO: suspend 2018-07-28 (15)<br>
TAGS: suspend 2018-08-17 TO: suspend 2019-07-16 (15)<br>
TAGS: suspend 2019-07-21 TO: suspend 2021-05-03 (9)<br>
TAGS: swap TO: syslog (18)<br>
TAGS: system TO: system (4)<br>
TAGS: system-installation TO: system-installation (17)<br>
TAGS: system-monitor TO: system-tray (6)<br>
TAGS: systemd TO: systemd-logind (17)<br>
</p></details>

<details><summary>TAGS WITH: t (109)</summary><p>
TAGS: tagging TO: teminal-bell (7)<br>
TAGS: temperature TO: temperature (12)<br>
TAGS: tensorflow TO: text-processing (15)<br>
TAGS: text-processing TO: thunderbird (18)<br>
TAGS: thunderbolt TO: titlebar (12)<br>
TAGS: tkinter TO: top (19)<br>
TAGS: top-bar TO: trivia (17)<br>
TAGS: tty TO: tv (9)<br>
</p></details>

<details><summary>TAGS FROM: u TO: v (220)</summary><p>
TAGS: ubuntu TO: ubuntu-dock (9)<br>
TAGS: ubuntu-gnome TO: ubuntu-gnome (10)<br>
TAGS: ubuntu-mate TO: udisks (8)<br>
TAGS: uefi TO: unicode (18)<br>
TAGS: uninstall TO: united-states (6)<br>
TAGS: unity 2016-08-14 TO: unity 2018-07-16 (15)<br>
TAGS: unity 2018-08-06 TO: unity 2021-06-26 (8)<br>
TAGS: unity-dash TO: updatedb (6)<br>
TAGS: updates TO: updates (18)<br>
TAGS: upgrade 2016-08-13 TO: upgrade 2018-04-29 (15)<br>
TAGS: upgrade 2018-04-29 TO: upgrade 2019-07-09 (15)<br>
TAGS: upgrade 2019-07-20 TO: upgrade 2019-12-15 (9)<br>
TAGS: uppercase TO: uptime (4)<br>
TAGS: usb TO: usb-drive (19)<br>
TAGS: usb-installation TO: virtual-console (17)<br>
TAGS: virtualbox TO: vmware (19)<br>
TAGS: vnc TO: voting (19)<br>
TAGS: vpn TO: vulnerability (5)<br>
</p></details>

<details><summary>TAGS FROM: w TO: z (197)</summary><p>
TAGS: wacom TO: wget (19)<br>
TAGS: wifi TO: window-manager (10)<br>
TAGS: windows TO: windows-10 (19)<br>
TAGS: windows-7 TO: windows-8 (2)<br>
TAGS: windows-subsystem-for-linux 2017-03-12 TO: windows-subsystem-for-linux 2018-12-23 (15)<br>
TAGS: windows-subsystem-for-linux 2019-04-15 TO: windows-subsystem-for-linux 2021-11-21 (7)<br>
TAGS: wine TO: wine (4)<br>
TAGS: wireless TO: workspaces (19)<br>
TAGS: x11 TO: xmpp (13)<br>
TAGS: xorg TO: xorg (19)<br>
TAGS: xps TO: xps (5)<br>
TAGS: xrandr TO: xrandr (11)<br>
TAGS: xset TO: xubuntu (13)<br>
TAGS: yad 2017-02-27 TO: yad 2018-05-18 (15)<br>
TAGS: yad 2018-05-23 TO: yad 2019-11-05 (13)<br>
TAGS: zenity 2016-11-26 TO: zenity 2021-05-08 (13)<br>
</p></details>

