<details><summary>TAGS: . ⟶ 9 <span class="w3-badge w3-green">336</span></summary><p>
TAGS: .desktop ⟶ 12.04 <span class="w3-badge w3-green">7</span><br>
TAG: 14.04 <span class="w3-badge w3-green">14</span><br>
TAGS: 15.04 ⟶ 15.10 <span class="w3-badge w3-green">3</span><br>
TAGS: 16.04 2016-08-13 ⟶ 16.04 2016-09-23 <span class="w3-badge w3-green">15</span><br>
TAGS: 16.04 2016-09-26 ⟶ 16.04 2016-11-25 <span class="w3-badge w3-green">15</span><br>
TAGS: 16.04 2016-11-26 ⟶ 16.04 2017-07-17 <span class="w3-badge w3-green">15</span><br>
TAGS: 16.04 2017-07-25 ⟶ 16.04 2018-02-07 <span class="w3-badge w3-green">15</span><br>
TAGS: 16.04 2018-02-13 ⟶ 16.04 2018-04-13 <span class="w3-badge w3-green">15</span><br>
TAGS: 16.04 2018-04-16 ⟶ 16.04 2018-07-22 <span class="w3-badge w3-green">15</span><br>
TAGS: 16.04 2018-07-28 ⟶ 16.04 2019-07-31 <span class="w3-badge w3-green">15</span><br>
TAGS: 16.04 2019-08-07 ⟶ 16.04 2021-01-20 <span class="w3-badge w3-green">8</span><br>
TAGS: 16.10 ⟶ 17.04 <span class="w3-badge w3-green">11</span><br>
TAG: 17.10 <span class="w3-badge w3-green">17</span><br>
TAGS: 18.04 2018-03-01 ⟶ 18.04 2018-05-05 <span class="w3-badge w3-green">15</span><br>
TAGS: 18.04 2018-05-07 ⟶ 18.04 2018-06-06 <span class="w3-badge w3-green">15</span><br>
TAGS: 18.04 2018-06-13 ⟶ 18.04 2018-08-12 <span class="w3-badge w3-green">15</span><br>
TAGS: 18.04 2018-08-12 ⟶ 18.04 2018-10-11 <span class="w3-badge w3-green">15</span><br>
TAGS: 18.04 2018-10-13 ⟶ 18.04 2018-12-12 <span class="w3-badge w3-green">15</span><br>
TAGS: 18.04 2018-12-16 ⟶ 18.04 2019-06-25 <span class="w3-badge w3-green">15</span><br>
TAGS: 18.04 2019-07-01 ⟶ 18.04 2019-07-21 <span class="w3-badge w3-green">15</span><br>
TAGS: 18.04 2019-07-21 ⟶ 18.04 2019-10-30 <span class="w3-badge w3-green">15</span><br>
TAGS: 18.04 2019-11-11 ⟶ 18.04 2021-05-08 <span class="w3-badge w3-green">11</span><br>
TAGS: 18.10 ⟶ 19.04 <span class="w3-badge w3-green">12</span><br>
TAG: 19.10 <span class="w3-badge w3-green">10</span><br>
TAG: 20.04 <span class="w3-badge w3-green">12</span><br>
TAGS: 32-bit ⟶ 64-bit <span class="w3-badge w3-green">6</span><br>
</p></details>

<details><summary>TAG: a <span class="w3-badge w3-green">100</span></summary><p>
TAGS: accepted-answer ⟶ alsa <span class="w3-badge w3-green">20</span><br>
TAGS: alternative ⟶ answers <span class="w3-badge w3-green">17</span><br>
TAGS: apparmor ⟶ april-fools <span class="w3-badge w3-green">5</span><br>
TAGS: apt 2016-08-29 ⟶ apt 2018-08-14 <span class="w3-badge w3-green">15</span><br>
TAGS: apt 2018-08-23 ⟶ apt 2021-11-08 <span class="w3-badge w3-green">15</span><br>
TAGS: architecture ⟶ atheros <span class="w3-badge w3-green">15</span><br>
TAGS: authentication ⟶ awk <span class="w3-badge w3-green">13</span><br>
</p></details>

<details><summary>TAG: b <span class="w3-badge w3-green">293</span></summary><p>
TAGS: background-process ⟶ backlight <span class="w3-badge w3-green">10</span><br>
TAG: backup <span class="w3-badge w3-green">14</span><br>
TAGS: badblocks ⟶ bandwidth <span class="w3-badge w3-green">6</span><br>
TAGS: bash 2016-09-11 ⟶ bash 2017-02-06 <span class="w3-badge w3-green">15</span><br>
TAGS: bash 2017-02-09 ⟶ bash 2017-04-08 <span class="w3-badge w3-green">15</span><br>
TAGS: bash 2017-04-26 ⟶ bash 2017-11-23 <span class="w3-badge w3-green">15</span><br>
TAGS: bash 2017-12-02 ⟶ bash 2018-04-27 <span class="w3-badge w3-green">15</span><br>
TAGS: bash 2018-05-08 ⟶ bash 2019-04-19 <span class="w3-badge w3-green">15</span><br>
TAGS: bash 2019-04-26 ⟶ bash 2019-08-27 <span class="w3-badge w3-green">15</span><br>
TAGS: bash 2019-08-29 ⟶ bash 2019-12-27 <span class="w3-badge w3-green">15</span><br>
TAGS: bash 2020-02-20 ⟶ bash 2021-05-08 <span class="w3-badge w3-green">8</span><br>
TAGS: bash-history ⟶ batch <span class="w3-badge w3-green">13</span><br>
TAG: battery <span class="w3-badge w3-green">14</span><br>
TAGS: beautifulsoup ⟶ bluetooth <span class="w3-badge w3-green">19</span><br>
TAG: boost <span class="w3-badge w3-green">1</span><br>
TAGS: boot 2016-08-22 ⟶ boot 2017-02-12 <span class="w3-badge w3-green">15</span><br>
TAGS: boot 2017-02-19 ⟶ boot 2018-03-26 <span class="w3-badge w3-green">15</span><br>
TAGS: boot 2018-04-15 ⟶ boot 2018-12-16 <span class="w3-badge w3-green">15</span><br>
TAGS: boot 2018-12-25 ⟶ boot 2019-10-24 <span class="w3-badge w3-green">15</span><br>
TAGS: boot 2019-10-28 ⟶ boot 2021-02-01 <span class="w3-badge w3-green">10</span><br>
TAGS: boot-partition ⟶ bounty <span class="w3-badge w3-green">5</span><br>
TAG: brightness <span class="w3-badge w3-green">15</span><br>
TAGS: broadband ⟶ button <span class="w3-badge w3-green">13</span><br>
</p></details>

<details><summary>TAG: c <span class="w3-badge w3-green">361</span></summary><p>
TAGS: c ⟶ camera <span class="w3-badge w3-green">15</span><br>
TAGS: canada ⟶ client <span class="w3-badge w3-green">15</span><br>
TAGS: clipboard ⟶ colors <span class="w3-badge w3-green">13</span><br>
TAGS: command-line 2016-09-08 ⟶ command-line 2016-12-17 <span class="w3-badge w3-green">15</span><br>
TAGS: command-line 2016-12-28 ⟶ command-line 2017-03-25 <span class="w3-badge w3-green">15</span><br>
TAGS: command-line 2017-03-26 ⟶ command-line 2018-02-20 <span class="w3-badge w3-green">15</span><br>
TAGS: command-line 2018-02-22 ⟶ command-line 2018-03-26 <span class="w3-badge w3-green">15</span><br>
TAGS: command-line 2018-03-29 ⟶ command-line 2018-05-08 <span class="w3-badge w3-green">15</span><br>
TAGS: command-line 2018-05-08 ⟶ command-line 2018-08-18 <span class="w3-badge w3-green">15</span><br>
TAGS: command-line 2018-09-09 ⟶ command-line 2019-04-19 <span class="w3-badge w3-green">15</span><br>
TAGS: command-line 2019-04-22 ⟶ command-line 2019-08-13 <span class="w3-badge w3-green">15</span><br>
TAGS: command-line 2019-08-13 ⟶ command-line 2019-11-16 <span class="w3-badge w3-green">15</span><br>
TAGS: command-line 2019-11-22 ⟶ command-line 2021-03-20 <span class="w3-badge w3-green">14</span><br>
TAGS: comments ⟶ configuration <span class="w3-badge w3-green">17</span><br>
TAG: configure <span class="w3-badge w3-green">1</span><br>
TAGS: conky 2016-09-14 ⟶ conky 2017-02-05 <span class="w3-badge w3-green">15</span><br>
TAGS: conky 2017-03-19 ⟶ conky 2018-03-31 <span class="w3-badge w3-green">15</span><br>
TAGS: conky 2018-04-01 ⟶ conky 2020-01-11 <span class="w3-badge w3-green">18</span><br>
TAGS: connection ⟶ covid-19 <span class="w3-badge w3-green">16</span><br>
TAG: cp <span class="w3-badge w3-green">2</span><br>
TAGS: cpu 2016-10-15 ⟶ cpu 2018-08-10 <span class="w3-badge w3-green">15</span><br>
TAGS: cpu 2018-08-11 ⟶ cpu 2019-11-21 <span class="w3-badge w3-green">16</span><br>
TAGS: cpu-frequency ⟶ crash <span class="w3-badge w3-green">16</span><br>
TAGS: cron 2016-10-02 ⟶ cron 2018-12-30 <span class="w3-badge w3-green">15</span><br>
TAGS: cron 2019-01-10 ⟶ cron 2021-08-11 <span class="w3-badge w3-green">7</span><br>
TAGS: csh ⟶ customization <span class="w3-badge w3-green">15</span><br>
TAG: cut-command <span class="w3-badge w3-green">1</span><br>
</p></details>

<details><summary>TAG: d <span class="w3-badge w3-green">267</span></summary><p>
TAGS: data-corruption ⟶ dd <span class="w3-badge w3-green">17</span><br>
TAGS: debug ⟶ dell <span class="w3-badge w3-green">15</span><br>
TAGS: dell ⟶ desktop-environments <span class="w3-badge w3-green">15</span><br>
TAGS: desktop-environments ⟶ devices <span class="w3-badge w3-green">17</span><br>
TAGS: diff ⟶ directory-structure <span class="w3-badge w3-green">8</span><br>
TAGS: discussion 2016-08-25 ⟶ discussion 2017-07-30 <span class="w3-badge w3-green">15</span><br>
TAGS: discussion 2017-08-02 ⟶ discussion 2018-06-24 <span class="w3-badge w3-green">15</span><br>
TAGS: discussion 2018-09-05 ⟶ discussion 2019-12-13 <span class="w3-badge w3-green">12</span><br>
TAGS: disk ⟶ disk-usage <span class="w3-badge w3-green">12</span><br>
TAG: display <span class="w3-badge w3-green">17</span><br>
TAG: display-resolution <span class="w3-badge w3-green">12</span><br>
TAGS: displayport ⟶ downgrade <span class="w3-badge w3-green">15</span><br>
TAGS: downloads ⟶ drive <span class="w3-badge w3-green">12</span><br>
TAGS: drivers 2016-09-01 ⟶ drivers 2018-02-07 <span class="w3-badge w3-green">15</span><br>
TAGS: drivers 2018-02-25 ⟶ drivers 2018-12-12 <span class="w3-badge w3-green">15</span><br>
TAGS: drivers 2018-12-17 ⟶ drivers 2021-01-27 <span class="w3-badge w3-green">10</span><br>
TAG: dropbox <span class="w3-badge w3-green">1</span><br>
TAGS: dual-boot 2016-09-09 ⟶ dual-boot 2018-01-27 <span class="w3-badge w3-green">15</span><br>
TAGS: dual-boot 2018-02-04 ⟶ dual-boot 2019-04-08 <span class="w3-badge w3-green">15</span><br>
TAGS: dual-boot 2019-05-06 ⟶ dual-boot 2020-05-28 <span class="w3-badge w3-green">9</span><br>
TAGS: duplicate ⟶ dvd <span class="w3-badge w3-green">5</span><br>
</p></details>

<details><summary>TAGS: e ⟶ f <span class="w3-badge w3-green">140</span></summary><p>
TAGS: ecryptfs ⟶ encryption <span class="w3-badge w3-green">16</span><br>
TAGS: environment-variables ⟶ ethernet <span class="w3-badge w3-green">17</span><br>
TAGS: europe ⟶ extract <span class="w3-badge w3-green">15</span><br>
TAGS: eyed3 ⟶ fan <span class="w3-badge w3-green">15</span><br>
TAGS: fancontrol ⟶ filemanager <span class="w3-badge w3-green">15</span><br>
TAGS: files ⟶ filesystem <span class="w3-badge w3-green">18</span><br>
TAGS: find ⟶ flicker <span class="w3-badge w3-green">15</span><br>
TAGS: focus ⟶ freeze <span class="w3-badge w3-green">17</span><br>
TAGS: frequency ⟶ functions <span class="w3-badge w3-green">12</span><br>
</p></details>

<details><summary>TAG: g <span class="w3-badge w3-green">283</span></summary><p>
TAGS: games ⟶ geany <span class="w3-badge w3-green">7</span><br>
TAG: gedit <span class="w3-badge w3-green">11</span><br>
TAGS: generator ⟶ gmail <span class="w3-badge w3-green">15</span><br>
TAGS: gmail-api ⟶ gmail-imap <span class="w3-badge w3-green">2</span><br>
TAGS: gnome 2016-08-13 ⟶ gnome 2018-05-13 <span class="w3-badge w3-green">15</span><br>
TAGS: gnome 2018-06-03 ⟶ gnome 2019-10-11 <span class="w3-badge w3-green">15</span><br>
TAGS: gnome 2019-10-14 ⟶ gnome 2020-12-23 <span class="w3-badge w3-green">7</span><br>
TAGS: gnome-control-center ⟶ gnome-shell <span class="w3-badge w3-green">17</span><br>
TAG: gnome-terminal <span class="w3-badge w3-green">10</span><br>
TAGS: gnome-tweaks ⟶ governor <span class="w3-badge w3-green">16</span><br>
TAGS: gparted ⟶ gpu-drivers <span class="w3-badge w3-green">13</span><br>
TAG: graphics <span class="w3-badge w3-green">16</span><br>
TAGS: grep ⟶ grive <span class="w3-badge w3-green">6</span><br>
TAGS: grub 2016-08-21 ⟶ grub 2017-02-19 <span class="w3-badge w3-green">15</span><br>
TAGS: grub 2017-02-20 ⟶ grub 2018-05-12 <span class="w3-badge w3-green">15</span><br>
TAGS: grub 2018-05-14 ⟶ grub 2021-07-04 <span class="w3-badge w3-green">19</span><br>
TAG: grub-efi <span class="w3-badge w3-green">1</span><br>
TAGS: grub2 2016-09-03 ⟶ grub2 2017-03-11 <span class="w3-badge w3-green">15</span><br>
TAGS: grub2 2017-03-11 ⟶ grub2 2018-04-27 <span class="w3-badge w3-green">15</span><br>
TAGS: grub2 2018-05-17 ⟶ grub2 2019-06-15 <span class="w3-badge w3-green">15</span><br>
TAGS: grub2 2019-07-01 ⟶ grub2 2019-12-13 <span class="w3-badge w3-green">11</span><br>
TAGS: grubrescue ⟶ guest-additions <span class="w3-badge w3-green">9</span><br>
TAG: gui <span class="w3-badge w3-green">17</span><br>
TAG: gvfs <span class="w3-badge w3-green">1</span><br>
</p></details>

<details><summary>TAGS: h ⟶ k <span class="w3-badge w3-green">276</span></summary><p>
TAG: hard-drive <span class="w3-badge w3-green">17</span><br>
TAG: hardware <span class="w3-badge w3-green">14</span><br>
TAGS: hardware-programming ⟶ hddtemp <span class="w3-badge w3-green">3</span><br>
TAG: hdmi <span class="w3-badge w3-green">18</span><br>
TAGS: hdpi ⟶ hidden-files <span class="w3-badge w3-green">15</span><br>
TAGS: hidpi ⟶ hybrid <span class="w3-badge w3-green">15</span><br>
TAGS: hybrid-graphics ⟶ ideapad <span class="w3-badge w3-green">15</span><br>
TAGS: image ⟶ initialization <span class="w3-badge w3-green">15</span><br>
TAGS: initramfs ⟶ integrated <span class="w3-badge w3-green">10</span><br>
TAG: intel <span class="w3-badge w3-green">11</span><br>
TAGS: intel-cpu ⟶ intel-wireless <span class="w3-badge w3-green">15</span><br>
TAGS: interface ⟶ jack <span class="w3-badge w3-green">15</span><br>
TAGS: java ⟶ kde <span class="w3-badge w3-green">16</span><br>
TAG: kde5 <span class="w3-badge w3-green">1</span><br>
TAGS: kernel 2016-09-20 ⟶ kernel 2017-02-04 <span class="w3-badge w3-green">15</span><br>
TAGS: kernel 2017-02-20 ⟶ kernel 2018-03-01 <span class="w3-badge w3-green">15</span><br>
TAGS: kernel 2018-03-31 ⟶ kernel 2019-02-16 <span class="w3-badge w3-green">15</span><br>
TAGS: kernel 2019-03-12 ⟶ kernel 2021-11-08 <span class="w3-badge w3-green">16</span><br>
TAG: key-bindings <span class="w3-badge w3-green">1</span><br>
TAG: keyboard <span class="w3-badge w3-green">18</span><br>
TAGS: keyboard-backlight ⟶ kubuntu <span class="w3-badge w3-green">15</span><br>
TAG: kvm-switch <span class="w3-badge w3-green">1</span><br>
</p></details>

<details><summary>TAG: l <span class="w3-badge w3-green">139</span></summary><p>
TAGS: lamp ⟶ lan <span class="w3-badge w3-green">3</span><br>
TAG: laptop <span class="w3-badge w3-green">16</span><br>
TAGS: latex ⟶ libreoffice <span class="w3-badge w3-green">19</span><br>
TAGS: libreoffice-basic ⟶ linux <span class="w3-badge w3-green">15</span><br>
TAGS: linux-headers ⟶ live-usb <span class="w3-badge w3-green">15</span><br>
TAGS: locale ⟶ locate <span class="w3-badge w3-green">4</span><br>
TAG: lock-screen <span class="w3-badge w3-green">16</span><br>
TAGS: lockup ⟶ logging <span class="w3-badge w3-green">8</span><br>
TAGS: login ⟶ login-screen <span class="w3-badge w3-green">16</span><br>
TAGS: logitech ⟶ lspci <span class="w3-badge w3-green">15</span><br>
TAGS: lts ⟶ luks <span class="w3-badge w3-green">12</span><br>
</p></details>

<details><summary>TAGS: m ⟶ o <span class="w3-badge w3-green">269</span></summary><p>
TAGS: maas ⟶ mate <span class="w3-badge w3-green">16</span><br>
TAGS: matlab ⟶ migration <span class="w3-badge w3-green">15</span><br>
TAGS: mime-type ⟶ monitoring <span class="w3-badge w3-green">19</span><br>
TAG: mount <span class="w3-badge w3-green">13</span><br>
TAGS: mountpoint ⟶ ms-dos <span class="w3-badge w3-green">15</span><br>
TAGS: mssql ⟶ multimedia <span class="w3-badge w3-green">8</span><br>
TAGS: multiple-monitors 2016-11-12 ⟶ multiple-monitors 2019-10-15 <span class="w3-badge w3-green">15</span><br>
TAGS: multiple-monitors 2019-12-05 ⟶ multiple-monitors 2021-09-23 <span class="w3-badge w3-green">6</span><br>
TAGS: multithreading ⟶ mysql <span class="w3-badge w3-green">7</span><br>
TAGS: nautilus 2016-10-05 ⟶ nautilus 2018-03-26 <span class="w3-badge w3-green">15</span><br>
TAGS: nautilus 2018-05-16 ⟶ nautilus 2020-06-01 <span class="w3-badge w3-green">11</span><br>
TAGS: ndiswrapper ⟶ network-manager <span class="w3-badge w3-green">7</span><br>
TAGS: networking 2016-08-11 ⟶ networking 2018-02-07 <span class="w3-badge w3-green">15</span><br>
TAGS: networking 2018-03-04 ⟶ networking 2019-07-25 <span class="w3-badge w3-green">15</span><br>
TAGS: networking 2019-09-02 ⟶ networking 2021-05-15 <span class="w3-badge w3-green">7</span><br>
TAGS: new-users ⟶ notification <span class="w3-badge w3-green">15</span><br>
TAGS: notify-osd ⟶ nut <span class="w3-badge w3-green">13</span><br>
TAGS: nvidia 2016-09-17 ⟶ nvidia 2018-06-12 <span class="w3-badge w3-green">15</span><br>
TAGS: nvidia 2018-07-16 ⟶ nvidia 2021-07-04 <span class="w3-badge w3-green">16</span><br>
TAGS: nvidia-geforce ⟶ onscreen-keyboard <span class="w3-badge w3-green">15</span><br>
TAGS: openconnect ⟶ overheating <span class="w3-badge w3-green">11</span><br>
</p></details>

<details><summary>TAGS: p ⟶ r <span class="w3-badge w3-green">303</span></summary><p>
TAG: package-management <span class="w3-badge w3-green">10</span><br>
TAGS: parallel-processing ⟶ parental-controls <span class="w3-badge w3-green">2</span><br>
TAGS: partitioning 2016-09-01 ⟶ partitioning 2019-06-30 <span class="w3-badge w3-green">15</span><br>
TAGS: partitioning 2019-07-01 ⟶ partitioning 2020-06-01 <span class="w3-badge w3-green">8</span><br>
TAG: password <span class="w3-badge w3-green">13</span><br>
TAGS: password-management ⟶ pep8 <span class="w3-badge w3-green">11</span><br>
TAG: performance <span class="w3-badge w3-green">18</span><br>
TAG: permissions <span class="w3-badge w3-green">13</span><br>
TAGS: persistence ⟶ plugins <span class="w3-badge w3-green">15</span><br>
TAGS: plymouth ⟶ postseason <span class="w3-badge w3-green">9</span><br>
TAGS: power-management 2016-08-21 ⟶ power-management 2018-04-13 <span class="w3-badge w3-green">15</span><br>
TAGS: power-management 2018-05-20 ⟶ power-management 2019-09-23 <span class="w3-badge w3-green">15</span><br>
TAGS: power-management 2019-10-26 ⟶ power-management 2021-09-23 <span class="w3-badge w3-green">6</span><br>
TAGS: powertop ⟶ proc <span class="w3-badge w3-green">15</span><br>
TAGS: process ⟶ public-health <span class="w3-badge w3-green">14</span><br>
TAGS: pulseaudio 2016-09-26 ⟶ pulseaudio 2019-10-05 <span class="w3-badge w3-green">15</span><br>
TAGS: pulseaudio 2019-10-22 ⟶ pulseaudio 2021-05-15 <span class="w3-badge w3-green">6</span><br>
TAGS: purge ⟶ pygi <span class="w3-badge w3-green">2</span><br>
TAGS: python 2017-02-13 ⟶ python 2020-01-30 <span class="w3-badge w3-green">15</span><br>
TAGS: python 2020-02-19 ⟶ python 2021-07-29 <span class="w3-badge w3-green">18</span><br>
TAGS: python-3.x ⟶ ram <span class="w3-badge w3-green">18</span><br>
TAGS: ransomware ⟶ redirect <span class="w3-badge w3-green">16</span><br>
TAGS: redshift ⟶ restore <span class="w3-badge w3-green">15</span><br>
TAGS: rfkill ⟶ rsync <span class="w3-badge w3-green">17</span><br>
TAGS: rtc ⟶ russian <span class="w3-badge w3-green">2</span><br>
</p></details>

<details><summary>TAG: s <span class="w3-badge w3-green">446</span></summary><p>
TAGS: s3-object-tagging ⟶ scaling <span class="w3-badge w3-green">16</span><br>
TAGS: scanner ⟶ scheduler <span class="w3-badge w3-green">6</span><br>
TAG: screen <span class="w3-badge w3-green">10</span><br>
TAGS: screencast ⟶ screenshot <span class="w3-badge w3-green">5</span><br>
TAGS: scripts 2016-09-19 ⟶ scripts 2017-02-13 <span class="w3-badge w3-green">15</span><br>
TAGS: scripts 2017-02-27 ⟶ scripts 2018-12-15 <span class="w3-badge w3-green">15</span><br>
TAGS: scripts 2019-03-18 ⟶ scripts 2019-11-13 <span class="w3-badge w3-green">15</span><br>
TAGS: scripts 2019-11-16 ⟶ scripts 2020-12-10 <span class="w3-badge w3-green">6</span><br>
TAGS: scrollbar ⟶ search <span class="w3-badge w3-green">10</span><br>
TAGS: security ⟶ sed <span class="w3-badge w3-green">16</span><br>
TAGS: sensors ⟶ serial-port <span class="w3-badge w3-green">3</span><br>
TAGS: server ⟶ services <span class="w3-badge w3-green">18</span><br>
TAGS: session ⟶ shell <span class="w3-badge w3-green">12</span><br>
TAG: shortcut-keys <span class="w3-badge w3-green">13</span><br>
TAGS: shortcuts ⟶ show-desktop <span class="w3-badge w3-green">4</span><br>
TAG: shutdown <span class="w3-badge w3-green">14</span><br>
TAGS: signature ⟶ software-center <span class="w3-badge w3-green">16</span><br>
TAG: software-installation <span class="w3-badge w3-green">9</span><br>
TAG: software-recommendation <span class="w3-badge w3-green">16</span><br>
TAGS: software-sources ⟶ sony <span class="w3-badge w3-green">3</span><br>
TAGS: sound 2016-08-09 ⟶ sound 2018-06-10 <span class="w3-badge w3-green">15</span><br>
TAGS: sound 2018-06-10 ⟶ sound 2021-05-15 <span class="w3-badge w3-green">19</span><br>
TAGS: soundcard ⟶ sqlite3 <span class="w3-badge w3-green">11</span><br>
TAG: ssd <span class="w3-badge w3-green">19</span><br>
TAGS: ssh ⟶ steam <span class="w3-badge w3-green">16</span><br>
TAGS: streaming ⟶ subtitle <span class="w3-badge w3-green">6</span><br>
TAG: sudo <span class="w3-badge w3-green">15</span><br>
TAG: support <span class="w3-badge w3-green">7</span><br>
TAGS: suspend 2016-08-21 ⟶ suspend 2016-11-16 <span class="w3-badge w3-green">15</span><br>
TAGS: suspend 2016-11-21 ⟶ suspend 2018-07-28 <span class="w3-badge w3-green">15</span><br>
TAGS: suspend 2018-08-17 ⟶ suspend 2019-07-16 <span class="w3-badge w3-green">15</span><br>
TAGS: suspend 2019-07-21 ⟶ suspend 2021-05-03 <span class="w3-badge w3-green">9</span><br>
TAGS: swap ⟶ syntax <span class="w3-badge w3-green">15</span><br>
TAGS: syntax-highlighting ⟶ system <span class="w3-badge w3-green">7</span><br>
TAG: system-installation <span class="w3-badge w3-green">17</span><br>
TAGS: system-monitor ⟶ system-tray <span class="w3-badge w3-green">6</span><br>
TAGS: systemd ⟶ systemd-journald <span class="w3-badge w3-green">16</span><br>
TAG: systemd-logind <span class="w3-badge w3-green">1</span><br>
</p></details>

<details><summary>TAG: t <span class="w3-badge w3-green">109</span></summary><p>
TAGS: tagging ⟶ teminal-bell <span class="w3-badge w3-green">7</span><br>
TAG: temperature <span class="w3-badge w3-green">12</span><br>
TAGS: tensorflow ⟶ text-processing <span class="w3-badge w3-green">20</span><br>
TAGS: themes ⟶ thunderbolt <span class="w3-badge w3-green">16</span><br>
TAGS: tightvncserver ⟶ titlebar <span class="w3-badge w3-green">9</span><br>
TAGS: tkinter ⟶ tlp <span class="w3-badge w3-green">17</span><br>
TAGS: tmp ⟶ transparency <span class="w3-badge w3-green">15</span><br>
TAGS: treeview ⟶ tv <span class="w3-badge w3-green">13</span><br>
</p></details>

<details><summary>TAGS: u ⟶ v <span class="w3-badge w3-green">220</span></summary><p>
TAGS: ubuntu ⟶ ubuntu-dock <span class="w3-badge w3-green">9</span><br>
TAG: ubuntu-gnome <span class="w3-badge w3-green">10</span><br>
TAGS: ubuntu-mate ⟶ udisks <span class="w3-badge w3-green">8</span><br>
TAGS: uefi ⟶ unattended-upgrades <span class="w3-badge w3-green">16</span><br>
TAGS: undelete ⟶ united-states <span class="w3-badge w3-green">8</span><br>
TAGS: unity 2016-08-14 ⟶ unity 2018-07-16 <span class="w3-badge w3-green">15</span><br>
TAGS: unity 2018-08-06 ⟶ unity 2021-06-26 <span class="w3-badge w3-green">8</span><br>
TAGS: unity-dash ⟶ updatedb <span class="w3-badge w3-green">6</span><br>
TAG: updates <span class="w3-badge w3-green">18</span><br>
TAGS: upgrade 2016-08-13 ⟶ upgrade 2018-04-29 <span class="w3-badge w3-green">15</span><br>
TAGS: upgrade 2018-04-29 ⟶ upgrade 2019-07-09 <span class="w3-badge w3-green">15</span><br>
TAGS: upgrade 2019-07-20 ⟶ upgrade 2019-12-15 <span class="w3-badge w3-green">9</span><br>
TAGS: uppercase ⟶ uptime <span class="w3-badge w3-green">4</span><br>
TAG: usb <span class="w3-badge w3-green">16</span><br>
TAGS: usb-c ⟶ video <span class="w3-badge w3-green">15</span><br>
TAGS: video-streaming ⟶ virtualization <span class="w3-badge w3-green">18</span><br>
TAGS: visual-studio-code ⟶ vnc <span class="w3-badge w3-green">7</span><br>
TAG: vnstat <span class="w3-badge w3-green">14</span><br>
TAGS: volume-control ⟶ vulnerability <span class="w3-badge w3-green">9</span><br>
</p></details>

<details><summary>TAGS: w ⟶ z <span class="w3-badge w3-green">197</span></summary><p>
TAGS: wacom ⟶ webcam <span class="w3-badge w3-green">16</span><br>
TAGS: webserver ⟶ window-manager <span class="w3-badge w3-green">13</span><br>
TAGS: windows ⟶ windows-10 <span class="w3-badge w3-green">19</span><br>
TAGS: windows-7 ⟶ windows-8 <span class="w3-badge w3-green">2</span><br>
TAGS: windows-subsystem-for-linux 2017-03-12 ⟶ windows-subsystem-for-linux 2018-12-23 <span class="w3-badge w3-green">15</span><br>
TAGS: windows-subsystem-for-linux 2019-04-15 ⟶ windows-subsystem-for-linux 2021-11-21 <span class="w3-badge w3-green">7</span><br>
TAG: wine <span class="w3-badge w3-green">4</span><br>
TAG: wireless <span class="w3-badge w3-green">17</span><br>
TAGS: wmctrl ⟶ xmpp <span class="w3-badge w3-green">15</span><br>
TAG: xorg <span class="w3-badge w3-green">19</span><br>
TAG: xps <span class="w3-badge w3-green">5</span><br>
TAG: xrandr <span class="w3-badge w3-green">11</span><br>
TAGS: xset ⟶ xubuntu <span class="w3-badge w3-green">13</span><br>
TAGS: yad 2017-02-27 ⟶ yad 2018-05-18 <span class="w3-badge w3-green">15</span><br>
TAGS: yad 2018-05-23 ⟶ yad 2019-11-05 <span class="w3-badge w3-green">13</span><br>
TAGS: zenity 2016-11-26 ⟶ zenity 2021-05-08 <span class="w3-badge w3-green">13</span><br>
</p></details>

