<details><summary>TAGS: . ⟶ 9 (336)</summary><p>
TAGS: .desktop ⟶ 12.04 (7)<br>
TAG: 14.04 (14)<br>
TAGS: 15.04 ⟶ 15.10 (3)<br>
TAGS: 16.04 2016-08-13 ⟶ 16.04 2016-09-23 (15)<br>
TAGS: 16.04 2016-09-26 ⟶ 16.04 2016-11-25 (15)<br>
TAGS: 16.04 2016-11-26 ⟶ 16.04 2017-07-17 (15)<br>
TAGS: 16.04 2017-07-25 ⟶ 16.04 2018-02-07 (15)<br>
TAGS: 16.04 2018-02-13 ⟶ 16.04 2018-04-13 (15)<br>
TAGS: 16.04 2018-04-16 ⟶ 16.04 2018-07-22 (15)<br>
TAGS: 16.04 2018-07-28 ⟶ 16.04 2019-07-31 (15)<br>
TAGS: 16.04 2019-08-07 ⟶ 16.04 2021-01-20 (8)<br>
TAGS: 16.10 ⟶ 17.04 (11)<br>
TAG: 17.10 (17)<br>
TAGS: 18.04 2018-03-01 ⟶ 18.04 2018-05-05 (15)<br>
TAGS: 18.04 2018-05-07 ⟶ 18.04 2018-06-06 (15)<br>
TAGS: 18.04 2018-06-13 ⟶ 18.04 2018-08-12 (15)<br>
TAGS: 18.04 2018-08-12 ⟶ 18.04 2018-10-11 (15)<br>
TAGS: 18.04 2018-10-13 ⟶ 18.04 2018-12-12 (15)<br>
TAGS: 18.04 2018-12-16 ⟶ 18.04 2019-06-25 (15)<br>
TAGS: 18.04 2019-07-01 ⟶ 18.04 2019-07-21 (15)<br>
TAGS: 18.04 2019-07-21 ⟶ 18.04 2019-10-30 (15)<br>
TAGS: 18.04 2019-11-11 ⟶ 18.04 2021-05-08 (11)<br>
TAGS: 18.10 ⟶ 19.04 (12)<br>
TAG: 19.10 (10)<br>
TAG: 20.04 (12)<br>
TAGS: 32-bit ⟶ 64-bit (6)<br>
</p></details>

<details><summary>TAG: a (100)</summary><p>
TAGS: accepted-answer ⟶ alsa (20)<br>
TAGS: alternative ⟶ answers (17)<br>
TAGS: apparmor ⟶ april-fools (5)<br>
TAGS: apt 2016-08-29 ⟶ apt 2018-08-14 (15)<br>
TAGS: apt 2018-08-23 ⟶ apt 2021-11-08 (15)<br>
TAGS: architecture ⟶ atheros (15)<br>
TAGS: authentication ⟶ awk (13)<br>
</p></details>

<details><summary>TAG: b (293)</summary><p>
TAGS: background-process ⟶ backlight (10)<br>
TAG: backup (14)<br>
TAGS: badblocks ⟶ bandwidth (6)<br>
TAGS: bash 2016-09-11 ⟶ bash 2017-02-06 (15)<br>
TAGS: bash 2017-02-09 ⟶ bash 2017-04-08 (15)<br>
TAGS: bash 2017-04-26 ⟶ bash 2017-11-23 (15)<br>
TAGS: bash 2017-12-02 ⟶ bash 2018-04-27 (15)<br>
TAGS: bash 2018-05-08 ⟶ bash 2019-04-19 (15)<br>
TAGS: bash 2019-04-26 ⟶ bash 2019-08-27 (15)<br>
TAGS: bash 2019-08-29 ⟶ bash 2019-12-27 (15)<br>
TAGS: bash 2020-02-20 ⟶ bash 2021-05-08 (8)<br>
TAGS: bash-history ⟶ batch (13)<br>
TAG: battery (14)<br>
TAGS: beautifulsoup ⟶ bluetooth (19)<br>
TAG: boost (1)<br>
TAGS: boot 2016-08-22 ⟶ boot 2017-02-12 (15)<br>
TAGS: boot 2017-02-19 ⟶ boot 2018-03-26 (15)<br>
TAGS: boot 2018-04-15 ⟶ boot 2018-12-16 (15)<br>
TAGS: boot 2018-12-25 ⟶ boot 2019-10-24 (15)<br>
TAGS: boot 2019-10-28 ⟶ boot 2021-02-01 (10)<br>
TAGS: boot-partition ⟶ bounty (5)<br>
TAG: brightness (15)<br>
TAGS: broadband ⟶ button (13)<br>
</p></details>

<details><summary>TAG: c (361)</summary><p>
TAGS: c ⟶ camera (15)<br>
TAGS: canada ⟶ client (15)<br>
TAGS: clipboard ⟶ colors (13)<br>
TAGS: command-line 2016-09-08 ⟶ command-line 2016-12-17 (15)<br>
TAGS: command-line 2016-12-28 ⟶ command-line 2017-03-25 (15)<br>
TAGS: command-line 2017-03-26 ⟶ command-line 2018-02-20 (15)<br>
TAGS: command-line 2018-02-22 ⟶ command-line 2018-03-26 (15)<br>
TAGS: command-line 2018-03-29 ⟶ command-line 2018-05-08 (15)<br>
TAGS: command-line 2018-05-08 ⟶ command-line 2018-08-18 (15)<br>
TAGS: command-line 2018-09-09 ⟶ command-line 2019-04-19 (15)<br>
TAGS: command-line 2019-04-22 ⟶ command-line 2019-08-13 (15)<br>
TAGS: command-line 2019-08-13 ⟶ command-line 2019-11-16 (15)<br>
TAGS: command-line 2019-11-22 ⟶ command-line 2021-03-20 (14)<br>
TAGS: comments ⟶ configuration (17)<br>
TAG: configure (1)<br>
TAGS: conky 2016-09-14 ⟶ conky 2017-02-05 (15)<br>
TAGS: conky 2017-03-19 ⟶ conky 2018-03-31 (15)<br>
TAGS: conky 2018-04-01 ⟶ conky 2020-01-11 (18)<br>
TAGS: connection ⟶ covid-19 (16)<br>
TAG: cp (2)<br>
TAGS: cpu 2016-10-15 ⟶ cpu 2018-08-10 (15)<br>
TAGS: cpu 2018-08-11 ⟶ cpu 2019-11-21 (16)<br>
TAGS: cpu-frequency ⟶ crash (16)<br>
TAGS: cron 2016-10-02 ⟶ cron 2018-12-30 (15)<br>
TAGS: cron 2019-01-10 ⟶ cron 2021-08-11 (7)<br>
TAGS: csh ⟶ customization (15)<br>
TAG: cut-command (1)<br>
</p></details>

<details><summary>TAG: d (267)</summary><p>
TAGS: data-corruption ⟶ dd (17)<br>
TAGS: debug ⟶ dell (15)<br>
TAGS: dell ⟶ desktop-environments (15)<br>
TAGS: desktop-environments ⟶ devices (17)<br>
TAGS: diff ⟶ directory-structure (8)<br>
TAGS: discussion 2016-08-25 ⟶ discussion 2017-07-30 (15)<br>
TAGS: discussion 2017-08-02 ⟶ discussion 2018-06-24 (15)<br>
TAGS: discussion 2018-09-05 ⟶ discussion 2019-12-13 (12)<br>
TAGS: disk ⟶ disk-usage (12)<br>
TAG: display (17)<br>
TAG: display-resolution (12)<br>
TAGS: displayport ⟶ downgrade (15)<br>
TAGS: downloads ⟶ drive (12)<br>
TAGS: drivers 2016-09-01 ⟶ drivers 2018-02-07 (15)<br>
TAGS: drivers 2018-02-25 ⟶ drivers 2018-12-12 (15)<br>
TAGS: drivers 2018-12-17 ⟶ drivers 2021-01-27 (10)<br>
TAG: dropbox (1)<br>
TAGS: dual-boot 2016-09-09 ⟶ dual-boot 2018-01-27 (15)<br>
TAGS: dual-boot 2018-02-04 ⟶ dual-boot 2019-04-08 (15)<br>
TAGS: dual-boot 2019-05-06 ⟶ dual-boot 2020-05-28 (9)<br>
TAGS: duplicate ⟶ dvd (5)<br>
</p></details>

<details><summary>TAGS: e ⟶ f (140)</summary><p>
TAGS: ecryptfs ⟶ encryption (16)<br>
TAGS: environment-variables ⟶ ethernet (17)<br>
TAGS: europe ⟶ extract (15)<br>
TAGS: eyed3 ⟶ fan (15)<br>
TAGS: fancontrol ⟶ filemanager (15)<br>
TAGS: files ⟶ filesystem (18)<br>
TAGS: find ⟶ flicker (15)<br>
TAGS: focus ⟶ freeze (17)<br>
TAGS: frequency ⟶ functions (12)<br>
</p></details>

<details><summary>TAG: g (283)</summary><p>
TAGS: games ⟶ geany (7)<br>
TAG: gedit (11)<br>
TAGS: generator ⟶ gmail (15)<br>
TAGS: gmail-api ⟶ gmail-imap (2)<br>
TAGS: gnome 2016-08-13 ⟶ gnome 2018-05-13 (15)<br>
TAGS: gnome 2018-06-03 ⟶ gnome 2019-10-11 (15)<br>
TAGS: gnome 2019-10-14 ⟶ gnome 2020-12-23 (7)<br>
TAGS: gnome-control-center ⟶ gnome-shell (17)<br>
TAG: gnome-terminal (10)<br>
TAGS: gnome-tweaks ⟶ governor (16)<br>
TAGS: gparted ⟶ gpu-drivers (13)<br>
TAG: graphics (16)<br>
TAGS: grep ⟶ grive (6)<br>
TAGS: grub 2016-08-21 ⟶ grub 2017-02-19 (15)<br>
TAGS: grub 2017-02-20 ⟶ grub 2018-05-12 (15)<br>
TAGS: grub 2018-05-14 ⟶ grub 2021-07-04 (19)<br>
TAG: grub-efi (1)<br>
TAGS: grub2 2016-09-03 ⟶ grub2 2017-03-11 (15)<br>
TAGS: grub2 2017-03-11 ⟶ grub2 2018-04-27 (15)<br>
TAGS: grub2 2018-05-17 ⟶ grub2 2019-06-15 (15)<br>
TAGS: grub2 2019-07-01 ⟶ grub2 2019-12-13 (11)<br>
TAGS: grubrescue ⟶ guest-additions (9)<br>
TAG: gui (17)<br>
TAG: gvfs (1)<br>
</p></details>

<details><summary>TAGS: h ⟶ k (276)</summary><p>
TAG: hard-drive (17)<br>
TAG: hardware (14)<br>
TAGS: hardware-programming ⟶ hddtemp (3)<br>
TAG: hdmi (18)<br>
TAGS: hdpi ⟶ hidden-files (15)<br>
TAGS: hidpi ⟶ hybrid (15)<br>
TAGS: hybrid-graphics ⟶ ideapad (15)<br>
TAGS: image ⟶ initialization (15)<br>
TAGS: initramfs ⟶ integrated (10)<br>
TAG: intel (11)<br>
TAGS: intel-cpu ⟶ intel-wireless (15)<br>
TAGS: interface ⟶ jack (15)<br>
TAGS: java ⟶ kde (16)<br>
TAG: kde5 (1)<br>
TAGS: kernel 2016-09-20 ⟶ kernel 2017-02-04 (15)<br>
TAGS: kernel 2017-02-20 ⟶ kernel 2018-03-01 (15)<br>
TAGS: kernel 2018-03-31 ⟶ kernel 2019-02-16 (15)<br>
TAGS: kernel 2019-03-12 ⟶ kernel 2021-11-08 (16)<br>
TAG: key-bindings (1)<br>
TAG: keyboard (18)<br>
TAGS: keyboard-backlight ⟶ kubuntu (15)<br>
TAG: kvm-switch (1)<br>
</p></details>

<details><summary>TAG: l (139)</summary><p>
TAGS: lamp ⟶ lan (3)<br>
TAG: laptop (16)<br>
TAGS: latex ⟶ libreoffice (19)<br>
TAGS: libreoffice-basic ⟶ linux (15)<br>
TAGS: linux-headers ⟶ live-usb (15)<br>
TAGS: locale ⟶ locate (4)<br>
TAG: lock-screen (16)<br>
TAGS: lockup ⟶ logging (8)<br>
TAGS: login ⟶ login-screen (16)<br>
TAGS: logitech ⟶ lspci (15)<br>
TAGS: lts ⟶ luks (12)<br>
</p></details>

<details><summary>TAGS: m ⟶ o (269)</summary><p>
TAGS: maas ⟶ mate (16)<br>
TAGS: matlab ⟶ migration (15)<br>
TAGS: mime-type ⟶ monitoring (19)<br>
TAG: mount (13)<br>
TAGS: mountpoint ⟶ ms-dos (15)<br>
TAGS: mssql ⟶ multimedia (8)<br>
TAGS: multiple-monitors 2016-11-12 ⟶ multiple-monitors 2019-10-15 (15)<br>
TAGS: multiple-monitors 2019-12-05 ⟶ multiple-monitors 2021-09-23 (6)<br>
TAGS: multithreading ⟶ mysql (7)<br>
TAGS: nautilus 2016-10-05 ⟶ nautilus 2018-03-26 (15)<br>
TAGS: nautilus 2018-05-16 ⟶ nautilus 2020-06-01 (11)<br>
TAGS: ndiswrapper ⟶ network-manager (7)<br>
TAGS: networking 2016-08-11 ⟶ networking 2018-02-07 (15)<br>
TAGS: networking 2018-03-04 ⟶ networking 2019-07-25 (15)<br>
TAGS: networking 2019-09-02 ⟶ networking 2021-05-15 (7)<br>
TAGS: new-users ⟶ notification (15)<br>
TAGS: notify-osd ⟶ nut (13)<br>
TAGS: nvidia 2016-09-17 ⟶ nvidia 2018-06-12 (15)<br>
TAGS: nvidia 2018-07-16 ⟶ nvidia 2021-07-04 (16)<br>
TAGS: nvidia-geforce ⟶ onscreen-keyboard (15)<br>
TAGS: openconnect ⟶ overheating (11)<br>
</p></details>

<details><summary>TAGS: p ⟶ r (303)</summary><p>
TAG: package-management (10)<br>
TAGS: parallel-processing ⟶ parental-controls (2)<br>
TAGS: partitioning 2016-09-01 ⟶ partitioning 2019-06-30 (15)<br>
TAGS: partitioning 2019-07-01 ⟶ partitioning 2020-06-01 (8)<br>
TAG: password (13)<br>
TAGS: password-management ⟶ pep8 (11)<br>
TAG: performance (18)<br>
TAG: permissions (13)<br>
TAGS: persistence ⟶ plugins (15)<br>
TAGS: plymouth ⟶ postseason (9)<br>
TAGS: power-management 2016-08-21 ⟶ power-management 2018-04-13 (15)<br>
TAGS: power-management 2018-05-20 ⟶ power-management 2019-09-23 (15)<br>
TAGS: power-management 2019-10-26 ⟶ power-management 2021-09-23 (6)<br>
TAGS: powertop ⟶ proc (15)<br>
TAGS: process ⟶ public-health (14)<br>
TAGS: pulseaudio 2016-09-26 ⟶ pulseaudio 2019-10-05 (15)<br>
TAGS: pulseaudio 2019-10-22 ⟶ pulseaudio 2021-05-15 (6)<br>
TAGS: purge ⟶ pygi (2)<br>
TAGS: python 2017-02-13 ⟶ python 2020-01-30 (15)<br>
TAGS: python 2020-02-19 ⟶ python 2021-07-29 (18)<br>
TAGS: python-3.x ⟶ ram (18)<br>
TAGS: ransomware ⟶ redirect (16)<br>
TAGS: redshift ⟶ restore (15)<br>
TAGS: rfkill ⟶ rsync (17)<br>
TAGS: rtc ⟶ russian (2)<br>
</p></details>

<details><summary>TAG: s (446)</summary><p>
TAGS: s3-object-tagging ⟶ scaling (16)<br>
TAGS: scanner ⟶ scheduler (6)<br>
TAG: screen (10)<br>
TAGS: screencast ⟶ screenshot (5)<br>
TAGS: scripts 2016-09-19 ⟶ scripts 2017-02-13 (15)<br>
TAGS: scripts 2017-02-27 ⟶ scripts 2018-12-15 (15)<br>
TAGS: scripts 2019-03-18 ⟶ scripts 2019-11-13 (15)<br>
TAGS: scripts 2019-11-16 ⟶ scripts 2020-12-10 (6)<br>
TAGS: scrollbar ⟶ search (10)<br>
TAGS: security ⟶ sed (16)<br>
TAGS: sensors ⟶ serial-port (3)<br>
TAGS: server ⟶ services (18)<br>
TAGS: session ⟶ shell (12)<br>
TAG: shortcut-keys (13)<br>
TAGS: shortcuts ⟶ show-desktop (4)<br>
TAG: shutdown (14)<br>
TAGS: signature ⟶ software-center (16)<br>
TAG: software-installation (9)<br>
TAG: software-recommendation (16)<br>
TAGS: software-sources ⟶ sony (3)<br>
TAGS: sound 2016-08-09 ⟶ sound 2018-06-10 (15)<br>
TAGS: sound 2018-06-10 ⟶ sound 2021-05-15 (19)<br>
TAGS: soundcard ⟶ sqlite3 (11)<br>
TAG: ssd (19)<br>
TAGS: ssh ⟶ steam (16)<br>
TAGS: streaming ⟶ subtitle (6)<br>
TAG: sudo (15)<br>
TAG: support (7)<br>
TAGS: suspend 2016-08-21 ⟶ suspend 2016-11-16 (15)<br>
TAGS: suspend 2016-11-21 ⟶ suspend 2018-07-28 (15)<br>
TAGS: suspend 2018-08-17 ⟶ suspend 2019-07-16 (15)<br>
TAGS: suspend 2019-07-21 ⟶ suspend 2021-05-03 (9)<br>
TAGS: swap ⟶ syntax (15)<br>
TAGS: syntax-highlighting ⟶ system (7)<br>
TAG: system-installation (17)<br>
TAGS: system-monitor ⟶ system-tray (6)<br>
TAGS: systemd ⟶ systemd-journald (16)<br>
TAG: systemd-logind (1)<br>
</p></details>

<details><summary>TAG: t (109)</summary><p>
TAGS: tagging ⟶ teminal-bell (7)<br>
TAG: temperature (12)<br>
TAGS: tensorflow ⟶ text-processing (20)<br>
TAGS: themes ⟶ thunderbolt (16)<br>
TAGS: tightvncserver ⟶ titlebar (9)<br>
TAGS: tkinter ⟶ tlp (17)<br>
TAGS: tmp ⟶ transparency (15)<br>
TAGS: treeview ⟶ tv (13)<br>
</p></details>

<details><summary>TAGS: u ⟶ v (220)</summary><p>
TAGS: ubuntu ⟶ ubuntu-dock (9)<br>
TAG: ubuntu-gnome (10)<br>
TAGS: ubuntu-mate ⟶ udisks (8)<br>
TAGS: uefi ⟶ unattended-upgrades (16)<br>
TAGS: undelete ⟶ united-states (8)<br>
TAGS: unity 2016-08-14 ⟶ unity 2018-07-16 (15)<br>
TAGS: unity 2018-08-06 ⟶ unity 2021-06-26 (8)<br>
TAGS: unity-dash ⟶ updatedb (6)<br>
TAG: updates (18)<br>
TAGS: upgrade 2016-08-13 ⟶ upgrade 2018-04-29 (15)<br>
TAGS: upgrade 2018-04-29 ⟶ upgrade 2019-07-09 (15)<br>
TAGS: upgrade 2019-07-20 ⟶ upgrade 2019-12-15 (9)<br>
TAGS: uppercase ⟶ uptime (4)<br>
TAG: usb (16)<br>
TAGS: usb-c ⟶ video (15)<br>
TAGS: video-streaming ⟶ virtualization (18)<br>
TAGS: visual-studio-code ⟶ vnc (7)<br>
TAG: vnstat (14)<br>
TAGS: volume-control ⟶ vulnerability (9)<br>
</p></details>

<details><summary>TAGS: w ⟶ z (197)</summary><p>
TAGS: wacom ⟶ webcam (16)<br>
TAGS: webserver ⟶ window-manager (13)<br>
TAGS: windows ⟶ windows-10 (19)<br>
TAGS: windows-7 ⟶ windows-8 (2)<br>
TAGS: windows-subsystem-for-linux 2017-03-12 ⟶ windows-subsystem-for-linux 2018-12-23 (15)<br>
TAGS: windows-subsystem-for-linux 2019-04-15 ⟶ windows-subsystem-for-linux 2021-11-21 (7)<br>
TAG: wine (4)<br>
TAG: wireless (17)<br>
TAGS: wmctrl ⟶ xmpp (15)<br>
TAG: xorg (19)<br>
TAG: xps (5)<br>
TAG: xrandr (11)<br>
TAGS: xset ⟶ xubuntu (13)<br>
TAGS: yad 2017-02-27 ⟶ yad 2018-05-18 (15)<br>
TAGS: yad 2018-05-23 ⟶ yad 2019-11-05 (13)<br>
TAGS: zenity 2016-11-26 ⟶ zenity 2021-05-08 (13)<br>
</p></details>

