<mark>149</mark><a href="https://pippim.github.io/2016/10/03/Possible-missing-firmware-/lib/firmware/i915.html">Possible missing firmware /lib/firmware/i915</a><br />
<mark>114</mark><a href="https://pippim.github.io/2016/11/26/How-do-I-get-the-CPU-temperature?.html">How do I get the CPU temperature?</a><br />
<mark>100</mark><a href="https://pippim.github.io/2018/01/07/What's-the-easiest-way-to-run-GUI-apps-on-Windows-Subsystem-for-Linux-as-of-2018?.html">What's the easiest way to run GUI apps on Windows Subsystem for Linux as of 2018?</a><br />
<mark>88</mark><a href="https://pippim.github.io/2016/10/15/Where-are-sudo's-insults-stored?.html">Where are sudo's insults stored?</a><br />
<mark>86</mark><a href="https://pippim.github.io/2018/03/08/Systemd-logs-(`journalctl`)-are-too-large-and-slow.html">Systemd logs (`journalctl`) are too large and slow</a><br />
<mark>64</mark><a href="https://pippim.github.io/2018/03/23/What-does-NetworkManager-wait-online.service-do?.html">What does NetworkManager-wait-online.service do?</a><br />
<mark>63</mark><a href="https://pippim.github.io/2018/08/12/Disabling-Lock-Screen-18.04.html">Disabling Lock Screen 18.04</a><br />
<mark>63</mark><a href="https://pippim.github.io/2018/04/29/Disable-password-request-from-suspend---18.04.html">Disable password request from suspend - 18.04</a><br />
<mark>60</mark><a href="https://pippim.github.io/2016/11/07/How-can-you-monitor-total-internet-data-usage-across-reboots?.html">How can you monitor total internet data usage across reboots?</a><br />
<mark>60</mark><a href="https://pippim.github.io/2018/12/23/How-can-I-send-mobile-text-message-from-terminal?.html">How can I send mobile text message from terminal?</a><br />
