<!-- Search bar and search results. NOTE: Autocomplete turned off because Google Chrome
     (but not Firefox) makes input bar extra tall when inserting automcomplete results from
     drop down list
-->
<!-- class clearable-input from: https://stackoverflow.com/a/33683886/6929343 -->
<form role="search" id="search-form">
  <input type="search" class="clearable-input" id="search-query" name="search-q" autocomplete="off"
   placeholder="Search... {{ page.description | default: site.description | default: site.github.project_tagline }}"
   aria-label="Search through site content">
  <!-- Try UTF-8 u+274c cross mark  <span id="search-clear-input">&times;</span> ❌🗙XX╳ -->
  <span id="search-clear-input">❌</span>
  <button id="search-utf8-mag-glass" type="submit"
    >🔍
  </button>
</form>

<!-- The Modal: https://stackoverflow.com/a/46296164/6929343 -->
<div id="search-modal" class="modal" style="display: none">

    <!-- Modal content -->
    <div class="search-modal-content">
        <!-- Try UTF-8 u+274c cross mark  <span class="close">&times;</span> ❌🗙XX╳ -->
        <span class="close">&ensp;╳&ensp;</span>
        <p id="search-modal-text">Some text in the Modal..</p>
    </div>

</div>
