<!-- include near top of .md file
     Credit: https://www.w3schools.com/howto/howto_js_slideshow.asp
     pkill -9 firefox && nohup firefox &

-->

<!-- Slideshow container -->
<div class="slideshow-container">

  <!-- Full-width images with number and caption text -->
  <div class="mySlides fade">
    <div class="number-text">1 / 8</div>
    <img class="imageSlide" src="/assets/img/tim-ta/alarm-clock.jpg">
    <div class="textSlide">Project timers in your browser!</div>
  </div>

  <div class="mySlides fade">
    <div class="number-text">2 / 8</div>
    <img class="imageSlide" src="/assets/img/hrb/HRB Example.gif">
    <div class="textSlide">Painless Hyperlink creation</div>
  </div>

  <div class="mySlides fade">
    <div class="number-text">3 / 8</div>
    <img class="imageSlide" src="/assets/img/tcm/TCM Window Buttons.gif">
    <div class="textSlide">The Cookie Machine - hidden secrets</div>
  </div>

  <div class="mySlides fade">
    <div class="number-text">4 / 8</div>
      <video src="https://user-images.githubusercontent.com/92641463/265505993-42c038ab-26c1-48f4-8ee5-457dcfb7638e.mp4"
      data-canonical-src="https://user-images.githubusercontent.com/92641463/265505993-42c038ab-26c1-48f4-8ee5-457dcfb7638e.mp4"
      class="imageSlide" controls="controls"
        </video>
    <div class="textSlide">cdd - Change Directory Power Tool</div>
  </div>

  <div class="mySlides fade">
    <div class="number-text">5 / 8</div>
    <img class="imageSlide" src="/assets/img/iothings/volume change.gif">
    <div class="textSlide">Control your TVs and Backlights</div>
  </div>

  <div class="mySlides fade">
    <div class="number-text">6 / 8</div>
    <img class="imageSlide" src="/assets/img/stack/stack-to-blog progress display.gif">
    <div class="textSlide">Convert Thousands of Posts to Blogs</div>
  </div>

  <div class="mySlides fade">
    <div class="number-text">7 / 8</div>
    <img class="imageSlide" src="/assets/img/mt/mt progress bars.gif">
    <div class="textSlide">Multi-Timer - Run alarms consecutively</div>
  </div>

  <div class="mySlides fade">
    <div class="number-text">8 / 8</div>
    <img class="imageSlide" src="/assets/img/mserve/mserve small demo.gif">
    <div class="textSlide">mserve - Music Server that rocks!</div>
  </div>

  <!-- Next and previous buttons -->
  <a class="prevSlide" onclick="plusSlides(-1)">&#10094;</a>
  <a class="nextSlide" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>

<!-- The dots/circles -->
<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
  <span class="dot" onclick="currentSlide(4)"></span>
  <span class="dot" onclick="currentSlide(5)"></span>
  <span class="dot" onclick="currentSlide(6)"></span>
  <span class="dot" onclick="currentSlide(7)"></span>
  <span class="dot" onclick="currentSlide(8)"></span>
</div>
