<!-- The Cookie Machine (TCM) - Transparent Button -->
<button id="tcm_button" title="The Cookie Machine, not-so-secret, popup, draggable window">TCM</button>

<!-- TCM Window - Fixed, draggable and dynamically expands -->
<div id="tcm_window">
  <div id="tcm_window_header">The Cookie Machine - Click and drag anywhere
   <span id="tcm_window_close" title="Close the Cookie Machine Window">&ensp; ❌ &ensp;</span>
  </div>
  <div id="tcm_window_buttons">
    <button id="tcm_display_home" title="The Cookie Machine Home Page">&nbsp;&#8962;&nbsp;</button>       // ⌂
    <button id="tcm_display_cloud" title="Cloud storage - Display website tree">&#9729;</button>          // ☁
    <button id="tcm_display_local" title="Local storage - Display cookies and cache">&#128436;</button>   // 🖴
    <button id="tcm_hyperlink_recipe" title="Hyperlink Recipe Baker">&#128279;</button>                   // 🔗
    
  </div>
  <div id="tcm_window_body">
    <p> DUMMY TEXT - Real text set in assets/js/theCookieMachine.js</p>
  </div>
</div>
</header>
