<!-- The Cookie Machine (TCM) - Transparent Button -->
<button id="tcm_button" title="The Cookie Machine, not-so-secret, popup, draggable window">
  <!--  Button size and double background images set in /assets/css/style.scss -->
</button>

<!-- TCM Window - Fixed, draggable and dynamically expands -->
<div id="tcm_window">
  <div id="tcm_window_header">The Cookie Machine - Click here to drag window
    <span id="tcm_window_icon" class="icon_back"></span>
    <button id="tcm_window_close" class="icon_back" title="Close the Cookie Machine Window"></button>
  </div>
  <div id="tcm_window_buttons"> <!-- Buttons: /⌂ /☁ / 🖴 / 🔗 / i -->
    <button id="tcm_display_home" title="The Cookie Machine Home Page"></button>
    <button id="tcm_display_cloud" title="Cloud storage - Display website tree"></button>
    <button id="tcm_display_local" title="Local storage - Display cookies and cache"></button>
    <button id="tcm_hyperlink_recipe" title="Hyperlink Recipe Baker"></button>
    <button id="tcm_webpage_info" title="Webpage Name and Front Matter"></button>
    <button id="tcm_cookie_jar" title="Import/Export cookies"></button>
  </div>
  <div id="tcm_window_body">
    <p> DUMMY TEXT - Real text set in assets/js/theCookieMachine.js</p>
  </div>
</div>