---
---

@import "{{ site.theme }}";


// Smooth scrolling
html { scroll-behavior: smooth; }

//                    Pure CSS Button Hover effect
// From: https://www.sliderrevolution.com/resources/css-button-hover-effects/

// Headers (From: https://github.com/pages-themes/cayman/blob/master/_sass/variables.scss)
$header-heading-color: #fff !default;
$header-bg-color: #159957 !default;
$header-bg-color-secondary: #155799 !default;

.button {
  display: inline-block;
  padding: 1rem 1rem;
  border-radius: 10rem;
  color: #fff;
  border: 2px solid white;  // Added for Cayman
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $header-bg-color;  // For Cayman
    background-image: linear-gradient(120deg, $header-bg-color-secondary, $header-bg-color);
    border-radius: 10rem;
    z-index: -2;
  }
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: darken($header-bg-color-secondary, 1%);  // For Cayman
    transition: all .3s;
    border-radius: 10rem;
    z-index: -1;
  }
  &:hover {
    color: #fff;
    &:before {
      width: 100%;
    }
  }
  
  + .button {
    margin-left: 1rem;
  }

  @include large {
    padding: 1.1rem 1rem;
    top: 1rem;  // Force buttons down a bit for vertical centering
  }

  @include medium {
    padding: 0.9rem 0.9rem;
    font-size: 0.8rem;
  }

  @include small {
    display: block;
    width: 100%;
    padding: 0.75rem;
    font-size: 0.7rem;

    + .button {
      margin-top: 1rem;
      margin-left: 0;
    }
  }
}

.hdr-bar {
  display: block;
  position: relative;
  width: 100%;
  height: .5rem;            // Allow bit extra for button box height
  text-align: right;        // Don't use "float: right;" that breaks rendering order
  &:before {
    content: "";
    display: block;
  }
}

.hdr-btn {
  display: inline-block;
  position: relative;
  color: $header-bg-color;  // Cayman green
  padding: 5px 15px;        // vertical, horizontal padding around button text
  font-size:0.75em;         // 75% of normal font for button text
  margin-left: 10px;        // Now that right aligned, switch margin side
  // From: https://stackoverflow.com/questions/65297617
  background: linear-gradient(transparent,rgba(0, 0, 0, 0.4)) top/100% 800%;
  background-color:#F0FFF0; // Honeydew

  &:hover {
    background-position:bottom;
    color:#F0FFF0;
  }
}

 // CSS CODE from: https://css.maxdesign.com.au/floatutorial/tutorial0211.htm
.float_right {
  float: right;
  // width: 103px;
  // margin: 0 0 10px 10px;
  margin: 2rem 0 10px 10px;
  text-align: center;
  background-color: #fff;
  padding: 10px;
  border-top: 1px solid #999;
  border-right: 2px solid #555;
  border-bottom: 2px solid #555;
  border-left: 1px solid #999;
}

div.floatright img {
  border-top: 2px solid #555;
  border-right: 1px solid #999;
  border-bottom: 1px solid #999;
  border-left: 2px solid #555;
}

/* p { margin-top: 0; }  // May have to be ditched if it effects all paragraphs */

// From: https://stackoverflow.com/a/17803868/6929343
// Call with:  <div class="clr"></div>
.clr{clear:both;}

// From: https://talk.jekyllrb.com/t/need-help-with-image-caption/6715/2
.img-class {
  float: none;
  width: 100%;
  height: 100%;
  margin: 0px;
}

// Abridged version of: https://stackoverflow.com/a/25173024/6929343
figure {
  // position: relative;
  // float: right;  // Tip from: https://talk.jekyllrb.com/t/need-help-with-image-caption/6715?u=pippim
  // text-align:right; // Tip from: https://stackoverflow.com/a/38709210/6929343
  // width: 60%;
  margin-top: 2em;
  // margin-left: 1em;
  // margin-right: 0px;
  margin-bottom: 0px;
  padding: 10px;
  border-top: 1px solid #999;
  border-right: 2px solid #555;
  border-bottom: 2px solid #555;
  border-left: 1px solid #999;
}
figure img {
  // display: block;
  // border-top: 2px solid #555;
  // border-right: 1px solid #999;
  // border-bottom: 1px solid #999;
  // border-left: 2px solid #555;
}
figure figcaption {
  // Below from: https://stackoverflow.com/a/24879297/6929343
  // text-align: center;
  // position: absolute;
  // position: absolute;
  // display: inline-block
  // display: block;
  // caption-side: bottom;
  text-align: center;
  // top: 7px;
  // bottom: -1px;
  // left: 0;
  // right: 0;
}
