---
---

@import "{{ site.theme }}";


// Smooth scrolling
html { scroll-behavior: smooth; }

//                    Pure CSS Button Hover effect
// From: https://www.sliderrevolution.com/resources/css-button-hover-effects/

// Headers (From: https://github.com/pages-themes/cayman/blob/master/_sass/variables.scss)
$header-heading-color: #fff !default;
$header-bg-color: #159957 !default;  // Cayman green
$header-bg-color-secondary: #155799 !default;  // Cayman blue
$honey_dew: #F0FFF0 !default; // Honeydew

.button {
  display: inline-block;
  padding: 1rem 1rem;
  border-radius: 10rem;
  color: #fff;
  border: 2px solid white;  // Added for Cayman
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $header-bg-color;  // For Cayman
    background-image: linear-gradient(120deg, $header-bg-color-secondary, $header-bg-color);
    border-radius: 10rem;
    z-index: -2;
  }
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: darken($header-bg-color-secondary, 1%);  // For Cayman
    transition: all .3s;
    border-radius: 10rem;
    z-index: -1;
  }
  &:hover {
    color: #fff;
    &:before {
      width: 100%;
    }
  }
  
  + .button {
    margin-left: 1rem;
  }

  @include large {
    padding: 1.1rem 1rem;
    top: 1rem;  // Force buttons down a bit for vertical centering
  }

  @include medium {
    padding: 0.9rem 0.9rem;
    font-size: 0.8rem;
  }

  @include small {
    display: block;
    width: 100%;
    padding: 0.75rem;
    font-size: 0.7rem;

    + .button {
      margin-top: 1rem;
      margin-left: 0;
    }
  }
}

.hdr-bar {
  display: block;
  position: relative;
  width: 100%;
  height: .5rem;            // Allow bit extra for button box height
  text-align: right;        // Don't use "float: right;" that breaks rendering order
  &:before {
    content: "";
    display: block;
  }
}

.hdr-btn {
  display: inline-block;
  position: relative;
  color: $header-bg-color;  // Cayman green
  padding: 5px 15px;        // vertical, horizontal padding around button text
  font-size:0.75em;         // 75% of normal font for button text
  margin-left: 10px;        // Now that right aligned, switch margin side
  // From: https://stackoverflow.com/questions/65297617
  background: linear-gradient(transparent,rgba(0, 0, 0, 0.4)) top/100% 800%;
  background-color: $honey_dew; // Honeydew

  &:hover {
    background-position:bottom;
    color:#F0FFF0;
  }
}

// Blog post front matter
.front-matter {
  padding: 3px;
  border-color: $header-bg-color-secondary;  // Cayman blue
  // border-image: linear-gradient(120deg, $header-bg-color-secondary, $header-bg-color);
  // above removes border and puts dots on corners
  border-top: 1px solid #999;
  border-right: 2px solid #555;
  border-bottom: 2px solid #555;
  border-left: 1px solid #999;
}

br {
 display: block;
 margin: 6px 0;
}

figure {
  padding: 10px;
  border-top: 1px solid #999;
  border-right: 2px solid #555;
  border-bottom: 2px solid #555;
  border-left: 1px solid #999;
}
figure figcaption {
  text-align: center;
}

// Swap font color and background color
mark {
  background-color: $header-bg-color;
  color: #FFFFFF;
}
