---
---

@import "{{ site.theme }}";


// Smooth scrolling
html { scroll-behavior: smooth; }

//                    Pure CSS Button Hover effect
// From: https://www.sliderrevolution.com/resources/css-button-hover-effects/

// Headers (From: https://github.com/pages-themes/cayman/blob/master/_sass/variables.scss)
$header-heading-color: #fff !default;
$header-bg-color: #159957 !default;  // Cayman green
$header-bg-color-secondary: #155799 !default;  // Cayman blue
$honeydew: #F0FFF0 !default; // Honeydew
$salmon: #FA8072 !default; // salmon
$lavender: #E6E6FA !default; // lavender


.button {
  display: inline-block;
  padding: 1rem 1rem;
  border-radius: 10rem;
  color: #fff;
  border: 2px solid white;  // Added for Cayman
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $header-bg-color;  // For Cayman
    background-image: linear-gradient(120deg, $header-bg-color-secondary, $header-bg-color);
    border-radius: 10rem;
    z-index: -2;
  }
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: darken($header-bg-color-secondary, 1%);  // For Cayman
    transition: all .3s;
    border-radius: 10rem;
    z-index: -1;
  }
  &:hover {
    color: #fff;
    &:before {
      width: 100%;
    }
  }
  
  + .button {
    margin-left: 1rem;
  }

  @include large {
    padding: 1.1rem 1rem;
    top: 1rem;  // Force buttons down a bit for vertical centering
  }

  @include medium {
    padding: 0.9rem 0.9rem;
    font-size: 0.8rem;
  }

  @include small {
    display: block;
    width: 100%;
    padding: 0.75rem;
    font-size: 0.7rem;

    + .button {
      margin-top: 1rem;
      margin-left: 0;
    }
  }
}

.hdr-bar {
  display: block;
  position: relative;
  width: 100%;
  height: .5rem;            // Allow bit extra for button box height
  text-align: right;        // Don't use "float: right;" that breaks rendering order
  &:before {
    content: "";
    display: block;
  }
}

.hdr-btn {
  display: inline-block;
  position: relative;
  color: $header-bg-color;  // Cayman green
  padding: 5px 15px;        // vertical, horizontal padding around button text
  font-size:0.75em;         // 75% of normal font for button text
  margin-left: 10px;        // Now that right aligned, switch margin side
  // From: https://stackoverflow.com/questions/65297617
  background: linear-gradient(transparent,rgba(0, 0, 0, 0.4)) top/100% 800%;
  background-color: $honeydew; // Honeydew

  &:hover {
    background-position:bottom;
    color:#F0FFF0;
  }
}

// Blog post front matter
.front-matter {
  // line-height: 1.75;
  padding: 4px 4px 0 4px;
  border-color: $header-bg-color-secondary;  // Cayman blue DOESN'T WORK :(
  // border-image: linear-gradient(120deg, $header-bg-color-secondary, $header-bg-color);
  // above removes border and puts dots on corners
  border-top: 1px solid #999;
  border-right: 2px solid #555;
  border-bottom: 2px solid #555;
  border-left: 1px solid #999;

  // Try to avoid hdr-bar which requires page refresh to update fm_state. Copy from hdr-bar:
  display: block;
  position: relative;
  &:before {
    content: "";
    display: block;
  }
  // End of copy from hdr-bar

  &:hover {
    background-color: $lavender;
    &:before {
      width: 100%;
    }
  }
}

.front-matter .hidden-child{
    visibility: hidden;
    vertical-align: top; 
    // display: inline-block;  // Jan 14/22
    // position: relative;     // Jan 14/22

    // text-align: right;
    // top: 3rem;
}

.front-matter:hover .hidden-child{
    visibility: visible;
    vertical-align: top; 
    // From: https://stackoverflow.com/a/31874748/6929343
    // position: relative;
    // Goes far right of screen not right of border
    // right: 0;
    // bottom: -2px;
    // top: 3rem;

    // Copy from hdr-btn:
    background: linear-gradient(transparent,rgba(0, 0, 0, 0.4)) top/100% 800%;
    background-color: $honeydew; // Honeydew

    &:hover {
      background-position: bottom;
      // background-position: top;
      color:#F0FFF0;
    }
    // End copy hdr-btn
  
}

// Yellow highlighter pen
mark {
  // total new style: https://www.abeautifulsite.net/posts/a-clever-way-to-style-the-mark-element/
  background: linear-gradient(-100deg, hsla(48,92%,75%,.3), hsla(48,92%,75%,.7) 95%, hsla(48,92%,75%,.1));
  border-radius: 1em 0;
  padding: .2rem .5rem .2rem .5rem;
}

// Copy code block contents to clipboard
// See: _includes/copyHeader.html for credit
.code-header {
  display: flex;
  justify-content: flex-end;
}

.copy-code-button {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  grid-column-gap: 4px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  padding: 4px 8px;

  &::before {
    content: "Copy";
  }

  &::after {
    content: "📋";
    display: block;
  }

  // This class will be toggled via JavaScript
  &.copied {
    &::before {
      content: "Copied!";
    }

    &::after {
      content: "✔️";
    }
  }
}

// Details syling: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/details#customizing_the_disclosure_widget
details {
  // font-size: 1.3rem;
  // width: 80%;
}

details > summary {
  // Chevron from https://stackoverflow.com/a/10813665/6929343
  list-style-type: none;
  margin-bottom: .6em;     // some spacing between groups
  padding: 2px 6px;
  width: 35em;          // 60% no good for cell phone
  background-color: $honeydew;
  color: $header-bg-color;
  border: none;
  box-shadow: 3px 3px 4px black;
  
  &:hover {
    // background-position:bottom;
    background-color: #ddd;
  }
}

details > summary::-webkit-details-marker {
  // Fringe browsers from https://stackoverflow.com/a/10813665/6929343
  display: none;
}

details > summary {
  cursor: s-resize;
}

details[open] > summary {
  cursor: n-resize;
}

details > summary::before {
  content: '▶️ ';
}

details[open] > summary::before {
  content: '🔽 ';
}

details > p {
  border-radius: 0 0 10px 10px;
  background-color: $honeydew;
  color: $header-bg-color;
  // padding: 2px 6px;
  margin-left: 1.3em;
  // Hanging indent: https://stackoverflow.com/a/2833097/6929343
  // margin-left: 4em;
  // text-indent: -2em;
  // margin: 0;
  box-shadow: 3px 3px 4px black;
  // Below copied from .front_matter:
  // line-height: 1.75;  // line height 1.75 too greedy
  padding: 4px 4px 4px 4px;

}

details[open] > summary {
  background-color: $honeydew;
  color: $header-bg-color;
  transition: transform 250ms ease;
}

.dtl {
  margin-left: 1.3em;
}

// From: https://stackoverflow.com/a/29064517/6929343
.badge {
  // width:20px;
  width: auto;
  padding: .1rem .25rem .1rem .25rem;
  height: 1rem;
  font-size: .9rem;
  border-radius: .25rem; //modify it according to your needs.
  -webkit-border-radius: .25rem;
  background:red;
  color:white;
  text-align:center;
}

// Neon glowing Text: https://www.w3schools.com/howto/howto_css_glowing_text.asp
.glow {
  -webkit-animation: glow 4s ease-in-out infinite alternate;
  -moz-animation: glow 4s ease-in-out infinite alternate;
  animation: glow 4s ease-in-out infinite alternate;
}

/* From: https://codepen.io/aJukebox/pen/eYNgLoJ */
@-webkit-keyframes glow {
  from {
    color: #F0FFF0;
    text-shadow: 
      0 0 10px #00fff2, 0 0 20px #00fff2, 0 0 30px #00fff2, 0 0 40px #00fff2, 0 0 50px #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2, 0 0 90px #00fff2;
  }
  to {
    color: #F0FFF0;
    text-shadow: 
      0 0 20px #00fff2, 0 0 30px #00fff2, 0 0 40px #00fff2, 0 0 50px #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2, 0 0 80px #00fff2, 0 1 90px #00fff2;
  }
}

/* From: https://gist.github.com/CodeMyUI/530e25ec020cfbfc68526a2a56cb0247 
   Note: No license or copyright found?
*/
.linear-wipe {
  text-align: center;
  
  background: linear-gradient(to right, #FFF 20%, #FF0 40%, #FF0 60%, #FFF 80%);
 //background: linear-gradient(to left, #FFF 80%, #FF0 60%, #FF0 40%, #FFF 20%);
  background-size: 200% auto;
  
  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  animation: shine 3s linear infinite;
  
  @keyframes shine {
    to {
      background-position: 200% center;
    }
  }
}
