<!DOCTYPE html>
<!-- Used by about.md, answers.md, index.md and programs.md -->
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    <meta charset="UTF-8">

    <!-- comment out Feb 24/22   { % seo %}    -->
    <!-- comment out Feb 24/22  <link rel="preconnect" href="https://fonts.gstatic.com">   -->
    <!-- Comment out Feb 1/22   <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>   -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <!-- setRootColors.js sets the color codes used for Color Schemes -->
    <script type="text/javascript" src="/assets/js/setRootColors.js"></script>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <!--  Comment out Feb 5/22   <link rel="stylesheet" href="/assets/css/syntax.scss">   -->
    {% include head-custom.html %}
    <!-- javascript for TCM -->
    <script type="module" src="/assets/js/theCookieMachine.js"></script>
    <link rel="shortcut icon" type="image/png" href="/favicon.png">
  </head>
  <body id="body">
    <header class="page-header" role="banner">
      <h1 class="project-name linear-wipe">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <!-- <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2> -->

      <div id="page-header-buttons">
        <!-- Color Scheme Picker Button -->
        <button class="color-scheme-button"
          title="Switch {{ site.title }} Website to color scheme Dark"
          ><img src="{{ site.baseurl }}/assets/img/icons/color_scheme_dark.png"
                alt="Color Scheme Picker" width="40" height="40">
        </button>
        <a href="{{ site.baseurl }}/" class="page-header-button">⌂ Home</a>
        <a href="about.html" class="page-header-button">❓ About</a>
        <a href="answers.html" class="page-header-button">✅ Answers</a>
        <a href="programs.html" class="page-header-button">💻 Programs</a>
        <a href="mailto:pippim.com@gmail.com" class="page-header-button">📧 Email</a>
        <button class="page-header-search-button search-symbol-white page-header-button"
          title="Search {{ site.title }} Website"
          ><img src="{{ site.baseurl }}/assets/img/icons/search_symbol_white.png"
                alt="" width="24" height="24">
        </button>
        <!-- The Cookie Machine (TCM) - Transparent Button -->
        <button class="tcm-button"
          title="The Cookie Machine, not-so-secret, popup, draggable window">
        </button>

      </div>
      <div id="page-header-hamburger">
        <!-- Color Scheme Picker Button -->
        <button class="color-scheme-button"
          title="Switch {{ site.title }} Website to color scheme Dark"
          ><img src="{{ site.baseurl }}/assets/img/icons/color_scheme_dark.png"
                alt="Color Scheme Picker" width="40" height="40">
        </button>
        <button id="page-header-dropdown" class="page-header-button"
          title="Navigation buttons"
          >&#x2630;
        </button>
        <button class="page-header-search-button search-symbol-white page-header-button"
          title="Search {{ site.title }} Website"
          ><img src="{{ site.baseurl }}/assets/img/icons/search_symbol_white.png"
                alt="" width="24" height="24">
        </button>
        <button class="tcm-button" style="float: right"
          title="The Cookie Machine, not-so-secret, popup, draggable window">
        </button>
        <!-- Normally hidden dropdown button list -->
        <div id="dropdown-content">
          <a href="{{ site.baseurl }}/" class="page-header-button">⌂ Home</a>
          <a href="about.html" class="page-header-button">❓ About</a>
          <a href="answers.html" class="page-header-button">✅ Answers</a>
          <a href="programs.html" class="page-header-button">💻 Programs</a>
          <a href="mailto:pippim.com@gmail.com" class="page-header-button">📧 Email</a>
        </div>
      </div>
    </header>

    {% include tcm-draggable-window.html %}

    <main id="content" class="main-content" role="main">

      {% include search.html %}
      <script type="text/javascript" src="/assets/js/search.js" ></script>

      {{ content }}

      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
      </footer>
    </main>
  </body>
</html>
