<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="/assets/css/syntax.scss">
    {% include head-custom.html %}
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>

      <!-- Removing email button from current blog page, as separate button bar provided for it -->
      <a href="{{ site.baseurl }}/index.html" style="display: inline" class="button">⌂ Home</a>
      <a href="{{ site.baseurl }}/about.html" style="display: inline" class="button">❓ About</a>
      <a href="{{ site.baseurl }}/answers.html" style="display: inline" class="button">✅ Answers</a>
      <a href="{{ site.baseurl }}/programs.html" style="display: inline" class="button">💻 Programs</a>

    </header>

    <main id="content" class="main-content" role="main">

      <h4 class="front-matter">
        {% assign fm_state = "Less" %}
        {% assign fm_button = "More" %}
        <button class="hidden-child"
                onclick="fm_toggle()"
                style="position: absolute; text-align: right;">
          {{ fm_button}}</button>

        {% if page.views and page.views != "" and page.views != nil %}
          Views:&nbsp;&nbsp;<mark>&nbsp;{{ page.views }}&nbsp;</mark>
        {% endif %}
        {% if page.votes and page.votes != "" and page.votes != nil %}
           &nbsp;&nbsp;&nbsp; Votes:&nbsp;&nbsp;<mark>&nbsp;{{ page.votes }}&nbsp;</mark>
        {% endif %}
        {% if page.accepted and page.accepted != "" and page.accepted != nil %}
           &nbsp;&nbsp;&nbsp; ✅&nbsp;Accepted&nbsp;Answer
        {% endif %}

        {% if page.tags and page.tags != "" and page.tags != nil and page.tags.size > 0 %}
          <br/>
          Tag{% if page.tags.size > 1 %}s{% else %}&nbsp;{% endif %}:&nbsp;&nbsp;&nbsp;
          {% for tag in page.tags %}
            <!-- &#32; is a breaking space: https://stackoverflow.com/a/38663112/6929343 -->
            <mark>&nbsp;{{ tag }}&nbsp;</mark>&nbsp;&nbsp;
          {% endfor %}
        {% endif %}

        {% if page.stack_url and page.stack_url != "" and page.stack_url != nil %}
          <br/>
          Link:&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="{{ page.stack_url }}"
               >🔍 See Original {{ page.type }} on {{ page.site }}</a>
        {% endif %}
      </h2>
      {{ content }}

      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}"
             >{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}"
             >{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
      </footer>
    </main>
  </body>
</html>

<script>
function fm_toggle() {
  Button clicked!
  {% if fm_state == "Less" %}
    {% assign fm_state = "More" %}
    {% assign fm_button = "Less" %}
  {% else %}
    {% assign fm_state = "Less" %}
    {% assign fm_button = "More" %}
  {% endif %}
}
</script>
