<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="/assets/css/syntax.scss">
    {% include head-custom.html %}
    <script src="{{ site.url }}/assets/js/post_fm.js"></script>
  </head>
  <body>
    <header class="page-header" role="banner">
      <h1 class="project-name glow">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>

      <!-- Removing email button from current blog page, as separate button bar provided for it -->
      <a href="{{ site.baseurl }}/index.html" style="display: inline" class="button">⌂ Home</a>
      <a href="{{ site.baseurl }}/about.html" style="display: inline" class="button">❓ About</a>
      <a href="{{ site.baseurl }}/answers.html" style="display: inline" class="button">✅ Answers</a>
      <a href="{{ site.baseurl }}/programs.html" style="display: inline" class="button">💻 Programs</a>

    </header>

    <main id="content" class="main-content" role="main">

      <div class="front-matter">

      <!-- LESS FRONT MATTER -->
      <h4 id="minimal_front_matter">

        <!-- Less / More button hidden until hover
                class="hidden-child"        /assets/css/style.scss
                id="hidden_button"          /assets/css/style.scss
                onclick="fm_toggle();"      /assets/js/post_fm.js
        -->
        <button class="hidden-child"
                id="hidden_button"
                onclick="fm_toggle();"
                style="position: absolute;"
                >Button Text
        </button>

        <style>
            fmVar {
                float: left;
                clear: left;
                width: 5em;
                padding-right: .5em;
            }
        </style>


        {% if page.views and page.views != "" and page.views != nil %}
          <fmVar>Views:</fmVar>
            <mark>&nbsp;{{ page.views }}&nbsp;</mark>
        {% endif %}
        {% if page.votes and page.votes != "" and page.votes != nil %}
           &nbsp;&nbsp; Votes:&nbsp;&nbsp;<mark>&nbsp;{{ page.votes }}&nbsp;</mark>
        {% endif %}
        {% if page.accepted and page.accepted != "" and page.accepted != nil %}
           &nbsp;&nbsp; ✅&nbsp;Accepted&nbsp;Answer
        {% endif %}

        {% if page.tags and page.tags != "" and page.tags != nil and page.tags.size > 0 %}
          <br/>
          <fmVar>Tag{% if page.tags.size > 1 %}s{% else %}&nbsp;{% endif %}:</fmVar>
            {% for tag in page.tags %}
              <!-- &#32; is a breaking space: https://stackoverflow.com/a/38663112/6929343 -->
              <mark>&nbsp;{{ tag }}&nbsp;</mark>&nbsp;&nbsp;
            {% endfor %}
        {% endif %}

        {% if page.stack_url and page.stack_url != "" and page.stack_url != nil %}
          <br/>
          <fmVar>Link:</fmVar>
            <a href="{{ page.stack_url }}"
                 >🔍 See Original {{ page.type }} on {{ page.site }}</a>
        {% endif %}
        <script>
        </script>
      </h4>

      <!-- MORE FRONT MATTER -->
      <h4 id="hidden_front_matter">
        <!-- MORE FRONT MATTER VARIABLES
        FRONT_POST_ID   = None              # EG "post_id:      1104017"
        FRONT_URL       = "stack_url:    "  # EG "stack_url:    https://askubuntu.com/q/1104017"
        FRONT_LINK      = None              # EG "post_link:    https://askubuntu.com/q/1104017|How can I
        FRONT_TITLE     = "title:        "  # Always appears in front matter!
        FRONT_CREATED   = "created_date: "  # EG "created_date: 2020-01-15 15:21:55"
        FRONT_LAST_EDIT = "edit_date:    "  # EG "edit_date:    2020-05-27 17:27:45"
        FRONT_EDITED_BY = None              # EG "edit_user:    Community (-1)"
        FRONT_SCORE     = "votes:        "  # EG "votes:        64" or blank/nil
        FRONT_FAVORITES = "favorites:    "  # EG "favorites:    33" or blank/nil
        FRONT_VIEWS     = "views:        "  # EG "views:        72,056" or blank/nil
        FRONT_ANSWERS   = None              # EG "answers:      3" or blank/nil
        FRONT_ACCEPTED  = "accepted:     "  # EG "accepted:     Accepted" or blank/nil
        FRONT_CW        = None              # EG "community:    CW" blank/nil
        FRONT_CLOSED    = None              # EG "closed:       Closed" or blank/nil
        -->
        {% if page.stack_url and page.stack_url != "" and page.stack_url != nil %}
          <!-- No br/ required because new H4 already inserts a big line break -->
          <fmVar>URL:</fmVar>
            <mark>&nbsp;{{ page.stack_url }}&nbsp;</mark>
        {% endif %}
        <!-- title: is always present anyway AND displayed at top of page! -->
        {% if page.title and page.title != "" and page.title != nil %}
          <br/>
          <fmVar>Title:</fmVar>
            <mark>&nbsp;{{ page.title }}&nbsp;</mark>
          <br/>
        {% endif %}
        {% if page.created_date and page.created_date != "" and page.created_date != nil %}
          <fmVar>Created:</fmVar>
             <mark>&nbsp;{{ page.created_date }}&nbsp;</mark>
        {% endif %}
        {% if page.edit_date and page.edit_date != "" and page.edit_date != nil %}
          <!-- Assumes Created always used if Edited is used! -->
          &nbsp;&nbsp; Edited:&nbsp;&nbsp;<mark>&nbsp;{{ page.edit_date }}&nbsp;</mark>
        {% endif %}
        {% if page.favorites and page.favorites != "" and page.favorites != nil %}
          &nbsp;&nbsp; Favorites:&nbsp;&nbsp;<mark>&nbsp;{{ page.favorites }}&nbsp;</mark>
        {% endif %}

        <!-- EXTRA FRONT MATTER VARIABLES:
        FRONT_LAYOUT    = "layout:       post"  # "layout:" MUST be used "post" can be changed
        FRONT_UPLOADED  = "uploaded:     "  # Date & Time this program was run
        FRONT_TOC       = "toc:          "  # Table of Contents? "true" or "false"
        FRONT_NAV_BAR   = "navigation:   "  # Section navigation bar? "true" or "false"
        -->
        {% if page.uploaded and page.uploaded != "" and page.uploaded != nil %}
          <br/>
          <fmVar>Upload:</fmVar>
            <mark>&nbsp;{{ page.uploaded }}&nbsp;</mark>
        {% endif %}
        {% if page.layout and page.layout != "" and page.layout != nil %}
          &nbsp;&nbsp; Layout:&nbsp;&nbsp;<mark>&nbsp;{{ page.layout }}&nbsp;</mark>
        {% endif %}
        {% if page.toc and page.toc != "" and page.toc != nil %}
         &nbsp;&nbsp; TOC:&nbsp;&nbsp;<mark>&nbsp;{{ page.toc }}&nbsp;</mark>
        {% endif %}
        {% if page.navigation and page.navigation != "" and page.navigation != nil %}
         &nbsp;&nbsp; Navigation:&nbsp;&nbsp;<mark>&nbsp;{{ page.navigation }}&nbsp;</mark>
        {% endif %}

        <script>
          fm_button = checkCookie();
          document.querySelector('#hidden_button').textContent = fm_button
          showHide(fm_state);  // fm_state is a global var set by checkCookie()
        </script>
      </h4>
    </div>

      {{ content }}

      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}"
             >{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}"
             >{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
      </footer>
    </main>
    <!-- Recommended location is at end of body -->
    <script src="{{ site.url }}/assets/js/copyCode.js"></script>
  </body>
</html>

