<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="/assets/css/syntax.scss">

    {% include head-custom.html %}

    <script src="{{ site.url }}/assets/js/post_fm.js"></script>

    <link rel="shortcut icon" type="image/jpg" href="/assets/img/earth-from-space.jpg">
  
  </head>
  <body>
    <header class="page-header" role="banner">
      <h1 class="project-name linear-wipe">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>

      <!-- Removing email button from current blog page, as separate button bar provided for it -->
      <a href="{{ site.baseurl }}/index.html" style="display: inline" class="button">⌂ Home</a>
      <a href="/about.html" style="display: inline" class="button">❓ About</a>
      <a href="/answers.html" style="display: inline" class="button">✅ Answers</a>
      <a href="{{ site.baseurl }}/programs.html" style="display: inline" class="button">💻 Programs</a>

    </header>

    <main id="content" class="main-content" role="main">

      <div class="front-matter">

      <!-- LESS FRONT MATTER -->
      <h4 id="minimal_front_matter">

        <!-- Less / More button hidden until hover
                class="hidden-child"        /assets/css/style.scss
                id="hidden_button"          /assets/css/style.scss
                onclick="fm_toggle();"      /assets/js/post_fm.js
        -->
        <style>
            fmVar {
                float: left;
                clear: left;
                width: 4.5em;  // Longer will effect small screen
                padding-right: .5em;
            }
        </style>


        {% if page.views and page.views != "" and page.views != nil %}
          <fmVar>Views:</fmVar>
            <mark>{{ page.views }}</mark>
        {% endif %}
        {% if page.votes and page.votes != "" and page.votes != nil %}
           &nbsp;&nbsp; Votes:&nbsp;&nbsp;<mark>{{ page.votes }}</mark>
        {% endif %}
        {% if page.accepted and page.accepted != "" and page.accepted != nil %}
           &nbsp;&nbsp; ✅&nbsp;Solution
        {% endif %}

        {% if page.tags and page.tags != "" and page.tags != nil and page.tags.size > 0 %}
          <br/>
          <fmVar>Tag{% if page.tags.size > 1 %}s{% else %}&nbsp;{% endif %}:</fmVar>
            {% for tag in page.tags %}
              <!-- &#32; is a breaking space: https://stackoverflow.com/a/38663112/6929343 -->
              <mark>{{ tag }}</mark>&nbsp;&nbsp;
            {% endfor %}
        {% endif %}

        {% if page.stack_url and page.stack_url != "" and page.stack_url != nil %}
          {% if page.type and page.type != "" and page.type != nil %}
            {% if page.site and page.site != "" and page.site != nil %}
              <br/>
              <fmVar>Link:</fmVar>
                <a href="{{ page.stack_url }}" title=
                   "Read original {{ page.type }} on Stack Exchange website but, you might see subtle ads."
                     >🔍 See Original {{ page.type }} on {{ page.site }} 🔗</a>
            {% endif %}
          {% endif %}
        {% endif %}
      </h4>

      <!-- MORE FRONT MATTER. Date formtting: https://shopify.dev/api/liquid/filters/additional-filters#date -->
      <h4 id="hidden_front_matter">
        <!-- MORE FRONT MATTER VARIABLES
        FRONT_POST_ID   = None              # EG "post_id:      1104017"
        FRONT_URL       = "stack_url:    "  # EG "stack_url:    https://askubuntu.com/q/1104017"
        FRONT_LINK      = None              # EG "post_link:    https://askubuntu.com/q/1104017|How can I
        FRONT_TITLE     = "title:        "  # Always appears in front matter!
        FRONT_CREATED   = "created_date: "  # EG "created_date: 2020-01-15 15:21:55"
        FRONT_LAST_EDIT = "edit_date:    "  # EG "edit_date:    2020-05-27 17:27:45"
        FRONT_EDITED_BY = None              # EG "edit_user:    Community (-1)"
        FRONT_SCORE     = "votes:        "  # EG "votes:        64" or blank/nil
        FRONT_FAVORITES = "favorites:    "  # EG "favorites:    33" or blank/nil
        FRONT_VIEWS     = "views:        "  # EG "views:        72,056" or blank/nil
        FRONT_ANSWERS   = None              # EG "answers:      3" or blank/nil
        FRONT_ACCEPTED  = "accepted:     "  # EG "accepted:     Accepted" or blank/nil
        FRONT_CW        = None              # EG "community:    CW" blank/nil
        FRONT_CLOSED    = None              # EG "closed:       Closed" or blank/nil
        -->
        {% if page.stack_url and page.stack_url != "" and page.stack_url != nil %}
          <!-- No br/ required because new H4 already inserts a big line break -->
          <fmVar>URL:</fmVar>
            <mark>{{ page.stack_url }}</mark>
        {% endif %}
        <!-- title: is always present anyway AND displayed at top of page! -->
        {% if page.title and page.title != "" and page.title != nil %}
          <br/>
          <fmVar>Title:</fmVar>
            <mark>{{ page.title }}</mark>
          <br/>
        {% endif %}
        {% if page.id and page.id != "" and page.id != nil %}
          <fmVar>ID:</fmVar>
            <mark>{{ page.id }}</mark>
          <br/>
        {% endif %}
<!-- page.name & page.dir has NOTHING. Hide other less useful fields too
        {% if page.name and page.name != "" and page.name != nil %}
          <fmVar>Name:</fmVar>
            <mark>{{ page.name }}</mark>
          <br/>
        {% endif %}
        {% if page.path and page.path != "" and page.path != nil %}
          <fmVar>Path:</fmVar>
            <mark>{{ page.path }}</mark>
          <br/>
        {% endif %}
        {% if page.dir and page.dir != "" and page.dir != nil %}
          <fmVar>Directory:</fmVar>
            <mark>{{ page.dir }}</mark>
          <br/>
        {% endif %}
        {% if page.previous and page.previous != "" and page.previous != nil %}
          <fmVar>Previous:</fmVar>
            <mark>{{ page.previous.title }}</mark>
          <br/>
        {% endif %}
        {% if page.next and page.next != "" and page.next != nil %}
          <fmVar>Next:</fmVar>
            <mark>{{ page.next.title }}</mark>
          <br/>
        {% endif %}
-->
        {% if page.created_date and page.created_date != "" and page.created_date != nil %}
          <fmVar>Created:</fmVar>
             <mark>{{ page.created_date | date: "%B %e, %Y" }}</mark>
        {% endif %}
        {% if page.edit_date and page.edit_date != "" and page.edit_date != nil %}
          <!-- Assumes Created always used if Edited is used! -->
          &nbsp;&nbsp; Edited:&nbsp;&nbsp;<mark>{{ page.edit_date | date: "%B %e, %Y" }}</mark>
        {% endif %}
        {% if page.favorites and page.favorites != "" and page.favorites != nil %}
          &nbsp;&nbsp; Favorites:&nbsp;&nbsp;<mark>{{ page.favorites }}</mark>
        {% endif %}

        <!-- EXTRA FRONT MATTER VARIABLES:
        FRONT_LAYOUT    = "layout:       post"  # "layout:" MUST be used "post" can be changed
        FRONT_UPLOADED  = "uploaded:     "  # Date & Time this program was run
        FRONT_TOC       = "toc:          "  # Table of Contents? "true" or "false"
        FRONT_NAV_BAR   = "navigation:   "  # Section navigation bar? "true" or "false"
        -->
        {% if page.uploaded and page.uploaded != "" and page.uploaded != nil %}
          <br/>
          <fmVar>Upload:</fmVar>
            <mark>{{ page.uploaded | date: "%B %e, %Y" }}</mark>
        {% endif %}
        {% if page.layout and page.layout != "" and page.layout != nil %}
          &nbsp;&nbsp; Layout:&nbsp;&nbsp;<mark>{{ page.layout }}</mark>
        {% endif %}
        <!-- Don't test "if page.toc" value because "false" prevents displaying FM -->
        {% if page.toc != "" and page.toc != nil %}
          <br/>
          <fmVar>TOC:</fmVar>
            <mark>{{ page.toc }}</mark>
        {% endif %}
        {% if page.navigation != "" and page.navigation != nil %}
          &nbsp;&nbsp; Navigation:&nbsp;&nbsp;<mark>{{ page.navigation }}</mark>
        {% endif %}
        {% if page.clipboard != "" and page.clipboard != nil %}
          &nbsp;&nbsp; Copy&nbsp;to&nbsp;clipboard:&nbsp;&nbsp;<mark>{{ page.clipboard }}</mark>
        {% endif %}

        <script>
          fm_button = checkCookie();
          document.querySelector('#hidden_button').textContent = fm_button
          showHide(fm_state);  // fm_state is a global var set by checkCookie()
        </script>
      </h4>
      <button class="hidden-child"
              id="hidden_button"
              onclick="fm_toggle();"
              // style="position: absolute;"
              // style="float: right; clear: right;"
              // style="position: absolute; top: 1; right: 1;"
              // style="display: inline-block; position: relative; text-align: right;"
              // right: 0;
              // top: 0;
              >Button Text
      </button>
    </div>

      {{ content }}

      <!-- From: https://www.bytedude.com/jekyll-previous-and-next-posts/ -->
      <div class="post-nav" style="display: flex; justify-content: space-between; 
                                   flex-wrap: wrap; align-content: stretch;
                                   margin-top: 2em; background-color: #F0FFF0;">
        <span style="flex: 1 1 0; width: 45%; padding-right: 0.5em;">
          {% if page.next.url %}
          <a href="{{page.next.url}}">⇧&nbsp;{{page.next.title}}</a>
          {% endif %}
        </span>
        <span style="flex: 1 1 0; width: 45%; padding-left: 0.5em; text-align: right">
          {% if page.previous.url %}
          <a href="{{page.previous.url}}">{{page.previous.title}}&nbsp;⇩</a>
          {% endif %}
        </span>
      </div>

      <!-- Taking up too much space at bottom of page
      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}"
             >{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}"
             >{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">This page was generated by <a
            href="https://pages.github.com" title="GitHub Pages powered by Jekyll Static
            Site Generator running Ruby Gems, Kramdown and Rouge">GitHub Pages 🔗</a>.</span>
      </footer>
      -->
    </main>
    <!-- Recommended location is at end of body -->
    <script src="{{ site.url }}/assets/js/copyCode.js"></script>
  </body>
</html>

